[2018-09-13 12:24] willmkt opened #1 "Add checkbox field"
Sometimes we want a more simple way to show certain fields, and the checkbox makes it easier..

Thanks for the package, it is a big help!!

[2018-09-13 12:30] unxsist commented on #1
You can easily create a checkbox dependency:

[code]

[2018-09-13 12:31] #1 closed

[2018-09-13 12:36] unxsist commented on #1
I've added this to the README as well :)

[2018-09-13 14:03] willmkt commented on #1
@unxsist Thanks so much!!!

[2018-09-13 15:38] szsori opened #2 "Doesn't handle Toggle custom field"
This currently doesn't work with the Toggle custom field type:
https://novapackages.com/packages/davidpiesse/nova-toggle

It does correctly hide the dependent option, but changing the toggle does nothing.  The code works perfectly if modified to Boolean instead.

Sample:
[code]

[2018-09-13 15:42] szsori opened #3 "Doesn't work within NovaTab"
Nova Tabs allows grouping of fields into tabs:
https://github.com/arsenaltech/nova-tab

When I use a Dependency Container within a tab, it doesn't function when the checkbox is checked.  When I move it outside the tab it functions perfectly.

Sample:
[code]

[2018-09-13 18:38] unxsist commented on #3
Hi @szsori

I've just pushed the 1.0.1 release that adds better scanning on field dependencies. You can now use tabs or any other container and the dependencies will work as expected.

[2018-09-13 18:38] #3 closed

[2018-09-13 18:40] unxsist commented on #2
Hi @szsori

I've just pushed the 1.0.1 release which adds better support for 3rd party Nova fields. Using the `dependsOnCustomComponent` method on the field, you can add listeners for 3rd party components. I've updated the README to reflect those changes and took your nova-toggle component as an example.

You can now use those fields and the field dependencies will work like expected

[2018-09-13 18:40] #2 closed

[2018-09-14 13:39] peterbrinck opened #4 "Depends on unknown value?"
Hi!

I have a field that's only required if a `BelongsTo` field is NOT EMPTY, how do I handle that?

By looking at the code, I can't figure out if it's already an option, but if not, it would be a nice feature.

It could be done the same way as the `where` clause, where you have an optional argument for the operator.

[2018-09-14 20:00] unxsist commented on #4
Hi @peterbrinck, i've just tagged the 1.0.2 release introducing a `dependsOnNotEmpty` option in order to rely on non-empty fields.

If you have another suggestion to make this more dynamic, feel free to make a pull request!

[2018-09-14 20:00] #4 closed

[2018-09-14 21:17] cloudstudio opened #5 "Working with BelongsTo"
Hello ! thanks in advance !

Edited, all right!

[2018-09-14 21:26] #5 closed

[2018-09-14 21:33] michielkempen opened #6 "BelongsTo field in DependencyContainer throws exception"
When adding a BelongsTo field to a DependencyContainer, Laravel Nova throws a `Trying to get property 'resourceClass' of non-object` exception.

I'm running version 1.0.2 of the package, with these fields in my resource:

[code]

[2018-09-14 22:00] unxsist commented on #5
:)

[2018-09-14 22:28] unxsist commented on #6
I've just tagged 1.0.3. It adds a `ResourceWithDependencies` class which enables the resolving of relationship fields in dependency containers. If you want to specify any relationship field in a container, you have to extend your resource to use the `ResourceWithDependencies` class. See the README for details!

[2018-09-14 23:14] michielkempen commented on #6
This fix introduces two new issues:
1. The new `ResourceWithDependencies` uses `App\Nova\Resource` as its parent class. However, when you change the path of the Resource class, as many developers will, the `ResourceWithDependencies` will cause `Class 'App\\Nova\\Resource' not found` exceptions. Using a trait instead of a parent class might solve this problem.
2. The `availableFields` method in the

[2018-09-15 08:06] unxsist commented on #6
Ah, it think it was too late for me working on these fixes. I’ll dive in deeper later today 👍🏻

[2018-09-15 08:25] VTumanov opened #7 "Expand 3rd Party support"
Good plugin, thanks Man! Will be nice, if this extension can be worked with https://novapackages.com/packages/fourstacks/nova-checkboxes or some other pseudo checkboxes. I try use dependsOnCustomComponent, but it not worked (

[2018-09-16 00:07] michielkempen commented on #6
After a few hours of tinkering about how to tackle these problems, I've come up with a solution.

In short:
1. ✅ Any kind of default Nova field can now be used inside the `NovaDependencyContainer`, including `BelongsTo` fields.
2. ✅ I replaced the `ResourceWithDependencies` class with a `HasDependencies` trait.
3. ✅ I added a `DetailField.vue` component. This allows you to display the fields insid

[2018-09-16 13:02] unxsist commented on #6
@michielkempen Wow! That sounds great, I’m open to any pull requests which optimizes this package any further!

We’ll have to take a look at 3rd party support, nut it’s not a main concern.

I’m looking forward to your pull request!

[2018-09-17 06:47] unxsist commented on #6
Thanks @michielkempen!

[2018-09-17 06:47] #6 closed

[2018-09-17 11:06] Enmaboya opened #10 "question"
Hi
there is a question about belongsto.
did not quite understand how dependsOnNotEmpty works.

Suppose I have a cafe, a cafe has a city.
Can I use this package to add editable city fields ('title' and others) to the cafe's resource?

[2018-09-20 19:15] garrettbland opened #11 "Image Field Type"
I am trying to use the default 'Image' field type with this package but it always just defaults the value in the database. I can get the image to upload to my s3 bucket, but somewhere it seems to remove the path value. Other fields all work flawlessly. Is there something obvious I'm doing wrong or this a bug?

`NovaDependencyContainer::make([
                 Image::make('Ad Image','ad_image')

[2018-09-24 13:43] RicLeP opened #12 "Invalid argument supplied for foreach error with checkbox"
When using this package on a boolean I get the following error:

Invalid argument supplied for foreach() {"userId":1,"email":"xxxxxx","exception":"[object] (ErrorException(code: 0): Invalid argument supplied for foreach() at \vendor\epartment\

nova-dependency-container\src\NovaDependencyContainer.php:92

My resource is:

	Boolean::make('Other qualification', 'qualification_other')
		->hideFromInd

[2018-09-24 13:59] unxsist commented on #12
To use checkboxes, you should specify the toggle value. See #1.

[2018-09-24 13:59] #12 closed

[2018-09-27 11:02] crumb1e opened #13 "Invalid argument supplied for foreach()"
I'm getting the foreach error when using a checkbox even after double checking against the other checkbox issues on here.

            Boolean::make('Featured', 'featured'),
            NovaDependencyContainer::make('Dependent settings', [
                Number::make('Featured Priority', 'featured_priority')
            ])->dependsOn('featured', true)->onlyOnForms(),

[2018-09-27 13:29] laurencei commented on #13
I have same issue for a select box...

[2018-09-27 14:53] bcoelhonqda commented on #13
Me too

[2018-09-28 12:12] gwleuverink commented on #11
I am experiencing the same issue.

[2018-09-28 17:58] lfukumori opened #14 "work with fourstacks/nova-checkboxes"
I need make nova-checkboxes work with nova-dependency-container on a specific checkbox.

Could you help me?

[2018-09-28 18:58] lfukumori opened #15 "Validation not working"
When i do:
[code]
field is not required.

[2018-09-28 19:43] fukumori opened #16 "Problem with displayUsingLabels()"
When i do:
[code]
On details of resource select attribute show the key, not label.

[2018-09-30 19:48] stonkeep opened #17 "It's not showing field"
It's not showing NovaDependencyContainer field when data is pre loaded
Exemple
This is when screen is loading at first time
<img width="991" alt="screen shot 2018-09-30 at 16 45 13" src="https://user-images.githubusercontent.com/3990028/46261894-4bdfcd00-c4d0-11e8-9193-313df37522a1.png">

And this is after change 'Tipo' field
<img width="928" alt="screen shot 2018-09-30 at 16 48 01" src="https://u

[2018-10-01 02:18] noahlocke opened #18 "dependsOnCustomComponent()"
[code]

I get this error:

[code]

Upon checking the source code, it would appear that method indeed does not exist? I see you added that method in commit [here](https://github.com/epartment/nova-dependency-container/commit/bf932c1fb793d3be36717c56d54d076a2a8657cc) but it's not in your latest release?

[2018-10-01 02:27] noahlocke commented on #13
same here:

[code]

[2018-10-02 10:31] unxsist commented on #13
Hi,

You should not add a title to the Dependency Container as that's not valid. Correct syntax should be:

[code]

[2018-10-02 10:31] #13 closed

[2018-10-02 10:33] unxsist commented on #10
`dependsOnNotEmpty` makes fields required when the dependency is NOT empty. It does not allow you to add fields to a related resource.

[2018-10-02 10:33] #10 closed

[2018-10-02 10:35] unxsist commented on #15
This has been fixed in 1.1.1, thanks to @TheoKouzelis

[2018-10-02 10:35] #15 closed

[2018-10-04 13:34] jordy-wittouck opened #20 "Array/callback support (Feature request)"
Maybe a nice feature is making the ability to pass in an array with values on which the value of the input filed gets checked. If the value is in the array then the container should show. Whereas now it only accepts one value per field.

It could look like so
![screen shot 2018-10-04 at 3 24 55 pm](https://user-images.githubusercontent.com/26605351/46477097-185fb400-c7ea-11e8-85e4-d386da460ae0.png

[2018-10-05 10:22] lvdhoorn opened #21 "Belongsto field not getting populated"
Thanks for this awesome package for Nova!
I found a bug when trying to use a belongsto field inside the Nova Dependency Container. It is not getting populated. Instead you get an error like "trying to get property of non-object". Field works fine outside the container.

[2018-10-05 15:14] satoved commented on #5
How have you solved it?

[2018-10-05 15:31] satoved commented on #17
Can confirm, tried to trace the bug, bug the vue watcher has {immediate: true}. Don't know.

[2018-10-07 11:03] liefie commented on #21
I see the same bug, perhaps something has changed in Nova?

I have the trait, but all my BelongsTo show up empty and trigger the error as above.

[2018-10-08 18:29] JILeXanDR commented on #16
The same is when using **displayUsing()**. Callback is never called :(

[2018-10-09 14:12] murali418 opened #22 "Can we have multiple dropdown with dependency container"
Hi,
Can we have multiple drop down with dependency container

like this

[code]

[2018-10-12 21:39] gcornhill opened #24 "Boolean Field Submitting true value as "true""
On submit of the form, if there is a boolean checkbox inside a dependency container, the value is getting passed as string "true" instead of true. Help!

[2018-10-16 01:48] edgarnadal commented on #21
Tried with HasDependencies trait and it worked good. Thanks! @satoved

[2018-10-19 21:36] rossmcneil opened #25 "Use in Action fields?"
Can this package be used within the fields method of an action also?

[2018-10-24 02:41] devotoare opened #26 "Trait Not Found"
Followed directions and am getting an error. Likely me doing something wrong. Please help?

[code]

![screenshot-2018 10 23-19-40-52](https://user-images.githubusercontent.com/5583396/47402735-9c2b0300-d6fb-11e8-8b34-498649b63654.png)

[2018-10-24 07:37] azurinspire commented on #26
There is type in documentation:
`use Eparment\NovaDependencyContainer\HasDependencies;`
should be
`use Epartment\NovaDependencyContainer\HasDependencies;`

[2018-10-24 07:45] devotoare commented on #26
@azurinspire thanks so much!

This is a typo in the readme.

Now I get a new error:
`Class 'App\Nova\NovaDependencyContainer' not found`

![screenshot-2018 10 24-00-45-12](https://user-images.githubusercontent.com/5583396/47414553-15d7e680-d726-11e8-8190-3a6936f8d589.png)

Any ideas?

[2018-10-24 07:53] azurinspire commented on #26
You are missing the other ’use’ which is correctly in documentation

[2018-10-24 08:03] devotoare commented on #26
@azurinspire derp. yes. yes it is. thank you!

[2018-10-24 08:03] #26 closed

[2018-10-24 17:29] mterchila commented on #21
Same issue here.

[2018-10-25 07:56] unxsist commented on #24
This is fixed in master, a new version will be available soon.

[2018-10-25 07:56] #24 closed

[2018-10-25 20:08] mterchila commented on #21
I figured out what was causing my issue - may help with troubleshooting this down the road. I was using the `merge()` method to add the dependency-container field to my resource, see the following link for more info:

https://nova.laravel.com/docs/1.0/resources/fields.html#place-field

Once I stopped using it and placed it in the original fields array on my resource the belongsto field populated v

[2018-10-26 17:15] anakadote opened #28 "File Field Type"
I am unable to use this package with the "File" field type, as the file is never uploaded to the server:

    Select::make('Type')->options([
        'article' => 'Article',
        'file'    => 'File',
    ])->sortable()->displayUsingLabels(),

    NovaDependencyContainer::make([
        File::make('File')
            ->disk('local')
    ])->dependsOn('type', 'file'),

Furthermore, when using val

[2018-10-30 15:46] niladam commented on #28
Apparently this is happening with all the upload fields. I'm encountering the same issue.

[2018-11-01 09:17] pix2D opened #29 "Doesn't update dynamically when depending on a BelongsTo field"
When depending on a `BelongsTo` field on initial page load everything is calculated correctly, but then when the field changes nothing happens. I did test with a `Select` field and it worked fine with that.

I would guess that perhaps something is different with the `BelongsTo` Vue component compared to the other "standard" components?

[2018-11-05 09:17] Fabio1988 opened #30 "Attach to BelongsToMany Relation"
Hello,

If the app/model is of a certain type, then it's possible to attach to another model with BelongsToMany relation.

So we made a NovaDepencyController on the relation
`NovaDependencyContainer::make(
                        [
                            BelongsToMany::make('certificateTemplate','certificate'),
                        ]
                    )->dependsOn('responseType', 3)`

Af

[2018-11-08 04:31] julianfox commented on #28
Same problem here

[2018-11-08 10:28] niladam commented on #6
Sorry for posting here since the issue is closed but I think we should have the means to be able to depend on different components.

I'm using this with a custom component (for example nestedform) and nothing happens when i change value..

[2018-11-08 11:29] janyksteenbeek commented on #15
It appears that this is still broken in 1.1.1. Any update?

[2018-11-19 09:13] Fabio1988 opened #31 "Visibility of a attribute of the model"
Hy guys,

Within the NovaDependencyContainer it's not possible to hide a attribute.

I have a NovaDepencyContainer with 4 attributes. One of them should only be visible in detail-view. The Method exceptOnForms() normally hide the attribute in forms, but actually not when it's within a NovaDependencyContainer.

Maybe this can be fixxed?

[2018-11-19 12:16] bostjanjanzovnik commented on #15
Same problem here. It does not trigger any of validation rules what so ever.

[2018-11-21 21:46] 949mac opened #32 "NovaDependencyContainer on BelongsToMany places container in parent panel"
When using NovaDependencyContainer on BelongToMany, the rendered result is in the parent panel. It should be detached, like seen below.
[code]
**Currently renders:**
![image](https://user-images.githubusercontent.com/23151962/48869875-99234100-ed93-11e8-8b02-eb956ee8eb05.png)

**Of course, I would like it to look like this:**
![image](https://user-images.githubusercontent.com/23151962/48869902-b35

[2018-11-29 15:54] rjksn opened #33 "Error working with hideWhenUpdating, hideWhenCreating, onlyOnForms, exceptOnForms"
Hello,

I'm on Nova 1.1.8 and have been having issues trying to get this package to work with Nova's Default Showing/Hiding fields parameters. They don't seem to work when they're placed in `NovaDependencyContainer::make()` but they act as expected when placed outside of that.

The simple code Illustration:

    // Will always display on forms
    NovaDependencyContainer::make([
        Text::make

[2018-11-29 15:55] rjksn commented on #33
[Nova Documentation on Showing / Hiding Fields](https://nova.laravel.com/docs/1.0/resources/fields.html#showing-hiding-fields)

[2018-12-03 01:48] 949mac commented on #29
Check out #21

I solved this in my app by adding `use HasDependencies;` to the Nova Resource loading the `NovaDependencyContainer` field.

[2018-12-03 07:57] Fabio1988 commented on #31
No one with the same issue?

[2018-12-04 12:19] webappbuilder commented on #11
Me too. Laravel Nova 1.2.0.

[2018-12-05 12:29] Mesj96 commented on #11
#me2 XD
I hope you guys will fix this problem soon :)

[2018-12-07 14:09] webhealer commented on #15
Same  for me, it's not apply rules for fields when it's in NovaDependencyContainer.

[2018-12-09 14:11] valentinceaprazaru commented on #32
+1

[2018-12-09 14:17] valentinceaprazaru commented on #20
Having a Iterable field i was able to solve this by updateting the NovaDependencyContainer.php to show:

`    public function resolveForDisplay($resource, $attribute = null)
    {
        parent::resolveForDisplay($resource, $attribute);

        foreach ($this->meta['dependencies'] as $index => $dependency) {

            if(array_key_exists('notEmpty', $dependency) && ! empty($resource->{$depend

[2018-12-10 17:53] valentinceaprazaru commented on #20
I was not able to fix the VUE part :)

On Mon, Dec 10, 2018 at 7:27 PM dtannen <notifications@github.com> wrote:

--
Valentin Ceaprazaru
CodingHeads.com
<http://codingheads.com/?utm_source=emailClient&utm_medium=email>

[2018-12-13 17:42] daguilarm commented on #15
Same here...

[2018-12-14 14:21] daguilarm commented on #16
Same here!

[2018-12-21 19:07] webhealer commented on #15
The problem is, nova only apply validation rules for the fields which defined in the page. The fields are inside the nova dependency container not counts as an individual field , so that validation rules not apply.

I found a temporary (but not a clean) solution. If it helps someone, i want to share:

If you add same field with same name at the top of the page, it apply the validation rules. But i

[2018-12-24 08:14] webhealer commented on #15
I fixed the issue.  Please check this PR https://github.com/epartment/nova-dependency-container/pull/36

[2018-12-24 14:59] webhealer commented on #15
I worked on this issues and created a PR.  https://github.com/epartment/nova-dependency-container/pull/37

The important thing is, **you need the define rules, depends on the field**, otherwise validator will try to validate all the fields on the page, even if not visible.

So you need to apply depended rules, like the example below:

[code]

[2018-12-27 12:30] webhealer commented on #32
I think this component main purpose is hiding/ showing form fields based on the depended field. It's not good idea to show hide fields on details or on index field.  it will not work as expected.

[2019-01-02 06:18] 949mac commented on #28
I'm having this issue too

[2019-01-08 09:56] avs262 opened #38 "DependsOn "or""
Can you add the ability to set the dependencies as OR conditions? I would like to show a field if FieldA OR FieldB equals a certain value.

[2019-01-09 15:06] axlot commented on #29
I can confirm this error, even with the use of HasDependencies; trait. The dependant fields are not displayed when the field you are depending on is a BelongsTo field.

[2019-01-15 12:23] diegorodriguezvidal commented on #15
Same problem here. Rules are not applied in any field inside NovaDependencyContainer.

[2019-01-15 13:21] fede91it opened #39 "Depending on a BelongsTo doesn't work"
Doesn't works:

[code]
Works:

[code]

I don't understand why. The values are the same, from 1 to 5.

[2019-01-15 13:26] f-liva opened #40 "Compatibility issue with spatie/nova-translatable"
It doesn't work with https://github.com/spatie/nova-translatable, could someone help me identify and solve the problem?

[2019-01-16 09:07] tanthammar opened #41 "Trying to get property of non-object, on boolean"
version 1.1.1
nova 1.3.0

Get an error on save/update when I try to depend on a boolean value that should be false.
"Trying to get property 'no_vat' of non-object"
[code]

[2019-01-17 09:04] christophrumpel commented on #39
Yeah same for me. Would need that too :-)

[2019-01-22 22:51] ferrl commented on #24
Hello, @unxsist. Any idea when you will tag a new release?

I've run into this bug and took a very long time until I was able to track it to this issue. Just updated the dependency in my project to `dev-master` and it's working fine.

[2019-01-25 09:34] LevFlavien commented on #15
Don't forget to apply the trait `use HasDependencies;` or validation won't apply.

[2019-01-26 17:47] aronquiray commented on #39
same. it doesn't support this :( hope it will be updated

[2019-01-30 10:49] tudorradubarbu commented on #29
I have the same problem with BelongsTo fields

[2019-01-31 10:52] TheoKouzelis commented on #15
@webhealer PR has fixed another conflict which appeared in later versions on Nova. I have now been able to update to Nova v1.3.1 and this package still works thanks to @webhealer PR. I think it should be merged

[2019-02-01 17:21] rk opened #42 "[bug] Header causes exception"
I'm treating the NovaDependencyContainer like a panel in a large model to break up field groups. Adding a Heading causes an exception when saving the page.

[code]

The exception is thrown by line 88, as the `fill()` method doesn't exist on the Header component.

https://github.com/epartment/nova-dependency-container/blob/c0884a06bbd9886878ffcdbbc53d51ebf18ac4ed/resources/js/components/FormField.v

[2019-02-01 19:37] rk commented on #16
Looks like the issue isn't related to the Vue component, based upon my tinkering. It might be related to the PHP Field though. I think that's because it's actually descended from a Field instead of a Panel. But I can't be 100% sure yet, as I'm pretty new to Nova.

[2019-02-02 10:45] ppisecky commented on #39
There seems to be a real problem emerging with overreliance on packages in Nova. A lot of the most useful ones are no longer maintained which makes doing basic things like this - conditional logic in forms - a pain.

[2019-02-02 17:33] cristafortuno commented on #33
Running on the same issue as well.

[2019-02-04 22:27] audetcameron opened #44 "fields not shown when editing, you have to select a different value and then re select."
After usin gthe DependencyContainer, if you go in to edit the resource, you have to deselect the dependsOn and re select it in order to see the values.

Is there anyway to show the dependent containers on page load from an edit ?

***Update

This was an error on my end.  The column referenced needs to be an INT  and I had it as a VARCHAR.'

[2019-02-07 16:46] jackabox opened #45 "If fields are named the same thing, always keeps the last value"
Hi,

I've added three fields which are all called "Value" but have a different type of Text, Textarea or Boolean. This causes them always to have the last value, even if the nova dependency is not showing those fields. Is there anyway to implement three types for one column?

Code I'm using is below.

[code]

[2019-02-12 19:48] ragingdave commented on #44
I don't think this is necessarily only you. I just ran into it while using this.
I have 3 containers depending on a select, so based on the selected value will show the right interpretation of the field. So for example:

    Select::make('Type')->options(['D' => 'Default', 'M' => 'OPT 1', 'L' => 'OPT 2']),

    NovaDependencyContainer::make([
        Select::make('Product Type', 'value')

[2019-02-13 15:31] #44 closed

[2019-02-13 18:16] audetcameron opened #47 "Required triggers failed validation even if dependency isn't selected"
I have a Boolean::('mybool)  and a NovaDependencyContainer::  with dependsOnNotEmpty('mybool') and a text field inside.
The container seems to work fine in toggling the display of the text field, however if I add   ->rules('required') to the field inside the dependencyContainer it won't let me update the model unless the text field is filled out even if I have not triggered the boolean to show the

[2019-02-13 18:17] audetcameron commented on #41
try ->dependsOnNotEmpty('no_vat')

[2019-02-13 18:58] tufankilicaslan commented on #47
this pull request https://github.com/epartment/nova-dependency-container/pull/37 may solve the problem.

[2019-02-14 01:51] netbuilding opened #48 "The demo doesn't work for me. (with workaround)"
I don't know why, but the demo doesn't work for me.

laravel/framework: v5.7.26
laravel/nova: v1.3.2
epartment/nova-dependency-container: 1.1.1

I used the demo code in resource, the "first_name" text field doesn't appear when "name_format" equals 0. After investigation, I found the value in "name_format" is string. The source code of this package use !== to check it's value and change dependencie

[2019-02-18 10:29] LevFlavien commented on #48
I think it happens since Nova 1.3.2. Using an integer worked before.

[2019-02-19 10:54] LevFlavien opened #49 "Hidden fields in edit view since Nova 1.3.2"
laravel/framework: v5.7.26
laravel/nova: v1.3.2
epartment/nova-dependency-container: 1.1.1

When editing a resource, the dependent fields are hidden by default and require the trigger field to emit a change in order to display again.
This happens since Nova 1.3.2.

[2019-02-21 14:08] audetcameron commented on #39
Has this been resolved?

[2019-02-21 17:25] fede91it commented on #39
No man

[2019-03-02 17:33] GrzegorzJaworski commented on #49
I had the same problem. When I take Int values to quotes it started working.

[2019-03-12 17:05] garyonyx commented on #28
Having this issue as well.

[2019-03-12 17:07] niladam commented on #28
I'm gonna go ahead and think this has been abandoned. Too bad, i really saw good use and the work was pretty solid.

I'm sorry to see it fade.

[2019-03-12 17:13] garyonyx commented on #28
@niladam have you found another working package?

[2019-03-12 17:14] niladam commented on #28
@garyonyx - [this](https://novapackages.com/packages/owenmelbz/nova-radio-field) is a pretty solid alternative.

[2019-03-15 08:46] ArmeniaH opened #50 "Boolean values always are false in dependency container"
laravel/framework: v5.7.26
laravel/nova: v1.3.2
epartment/nova-dependency-container: 1.1.1

I have 2 Boolean fields in DependecyContainer
[code]

When I check the checkboxes, The request has the values as true, but the response always is false for these boolean fields.

If I remove the container and just use Boolean fields, everything works as expected.

[2019-03-15 11:38] yaroslavshyshkin commented on #50
Same trouble:

- laravel/nova: v1.3.2
- epartment/nova-dependency-container: 1.1.1

Though with only one boolean field:

`NovaDependencyContainer::make([
                Boolean::make('Subscribed', 'no_bulk')

            ])->dependsOnNotEmpty('do_not_contact'),`

[2019-03-17 19:20] phuclh commented on #15
I already use the trait in the resource, but the validation still doesn't work :(. Any solution for that? Thanks

[2019-03-22 19:38] FhatFreak commented on #50
I'm having the same issue as @yaroslavshyshkin and @ArmeniaH
- laravel/nova v1.3.2
- epartment/nova-dependency-container: 1.1.1

NovaDependencyContainer::make([
    Boolean::make('Has Billable Shipping'),
])->dependsOn('is_material', true),

[2019-03-27 15:48] jkudish commented on #25
Yes, it works fine

[2019-03-29 09:27] Ruitjes commented on #33
Any updates on this?

[2019-04-03 00:17] ArmeniaH commented on #50
@unxsist Any chance we will get update any time soon?

[2019-04-04 12:54] shortcodes opened #52 "Attach inside fields callback function with Select"
I woud like this package to work in this case

[code]

Is this possible? How to achieve that?

[2019-04-04 14:11] #42 closed

[2019-04-11 12:16] sabrinanne commented on #38
Same. Need this ability, too.

[2019-04-17 01:20] alex-osborn commented on #47
Yes, use required_if matching the same rules as the container.

[code]

[2019-04-25 07:42] rmmaitrey opened #53 "Not working nova-repeatable-fields"
This package looks good but I am not able to use it with the package.

[nova-repeatable-fields](https://github.com/fourstacks/nova-repeatable-fields)

Can anyone help ?

[2019-05-02 09:44] voidgraphics commented on #28
No problems when using a File field for me. Works perfectly fine. Weird.

[2019-05-03 10:00] sash commented on #39
+1

[2019-05-08 20:21] nysso opened #54 "Causes failure for Maatwebsite/Laravel-Nova-Excel package"
After installing **epartment/nova-dependency-container** another package got affected, the **Maatwebsite/Laravel-Nova-Excel**
and got the **wrong data passed to foreach()** error when exporting excel data using Maatwebsite/Laravel-Nova-Excel

[2019-05-09 04:54] Crov commented on #33
Hi there,

I ran into the same issue and finally figured it out. Not sure if anyone here managed to figure it out, but might be useful for someone else experiencing the problem.

You have to put the hide/show logic on the `NovaDependencyContainer` as this is the "filed" responsible for hiding/showing it's child fields.

[code]
Hope that helps someone.

[2019-05-09 08:53] mikaelpopowicz commented on #29
The component rely on `value` data attribute to check if dependency is satisfied. The BelongsToField component does not have a `value` but has a `selectedResourceId` data attribute.

[2019-05-14 10:39] fede91it opened #55 "php artisan nova:publish breaks nova-dependency-container"
Launching the command `php artisan nova:publish --force` the new files app.js and vendor.js from nova are published and obviously these are not compatible with this package because epartment/nova-dependency-container stops working.

[2019-05-21 21:21] drsdre commented on #38
This has been implemented with PullRequest https://github.com/epartment/nova-dependency-container/pull/56

[2019-05-21 21:23] drsdre commented on #20
Maybe PullRequest https://github.com/epartment/nova-dependency-container/pull/56 can help as it accepts values in an array.

[2019-05-24 12:08] jason-rudland commented on #39
Really useful package, but belongsTo support would be even better!

[2019-05-24 15:06] audetcameron commented on #39
Maybe something like this in the mean time,
[code]

[2019-06-04 07:21] YuCoLabKenny opened #57 "Nova Nested Form"
@unxsist @michielkempen  Unfortunately, it's not working with the package [Nova Nested Form](https://github.com/yassipad/laravel-nova-nested-form).

I use that dependency-container to show certain attributes when something is selected in the form. But when I use NestedForms and I select something in the select-box, nothing happens.

Is there a workaround? Would be great to use both in the same Nov

[2019-06-06 12:12] tumispro opened #58 "dependsOnEmpty relation"
A dependsOnEmpty relation (opposite of dependsOnNotEmpty) would be really useful. A field is then required only when another one is not filled out. In my case I want to allow users to either fill out a URL field, or select a related resource to link to.

(if this is already possible currently I'd like to know how! Using dependsOn('field', null) doesn't seem to work, at least not for a select field

[2019-06-10 12:59] wijourdil commented on #57
I have the same issue with NovaTabs, it doesn't work if a DependenciesContainer is in a NovaTab.

[2019-06-17 08:50] spaceo opened #61 "Problem with reference to Event facade in FieldServiceProvider"
In boot method the reference to The Laravel event Facade is defined like this:
[code]
There should be an import like this:
[code]
And that should be referenced at line 22 instead.

[2019-06-17 08:57] preliot opened #62 "Dependable MorphTo will not work correctly"
When using a MorphTo Field in a Nova Dependency Container, it wil fail. You can select a Client or Department (see example), but then i can't select the specific Client or Department, because of an error.

[code]

This issue can be traced to:

[code]
$field will be null and therefore the method will fail with the exception.

[2019-06-19 08:34] artisaninweb commented on #62
Got the same issue.

[2019-06-21 01:40] aronquiray opened #65 "Not working on versions (2.0 or 2.0.6)"
I think this package was not working with the latest versions of Nova?
I currently switched to the latest 2.0.6 (and wasn't doing anything at all)

[2019-06-21 12:10] bsormagec commented on #65
working after publish nova-resources

[2019-06-25 13:05] banstola opened #67 "Redirects everything to http://127.0.0.1:8000/nova-api/scripts/nova-dependency-container"
If a route is not found then instead of 404, the application redirects to
/nova-api/scripts/nova-dependency-container when logged in

I have my route as below

[code]
Then if i visit
/myroute --- it redirects to /nova-api/scripts/nova-dependency-container with the js file

[2019-06-28 15:38] colemvn commented on #65
I was able to install it, but the conditions do not work.

Fields are showing up, etc. Problem is mainly with the conditional fields not showing up.

use Epartment\NovaDependencyContainer\HasDependencies;
use Epartment\NovaDependencyContainer\NovaDependencyContainer;

Are added.

[2019-06-28 15:51] colemvn commented on #48
I'd just like to add, that on Nova 2.0
This fix, makes the DEMO work.
(Thank you @netbuilding !)

[2019-06-28 20:07] colemvn commented on #65
Hi!
I got the demo working with the latest and _freshest_ install of Nova.

Look into this: https://github.com/epartment/nova-dependency-container/issues/48

I've been working on my project ever since and it's working perfectly...care to go deeper in details?

[2019-07-04 07:37] kgp43 opened #68 "Problem with DisplayUsing()"
Am I doing something wrong here or is DisplayUsing() not supported?
Works fine outside JSON.

[code]

[2019-07-08 07:55] PrafullaKumarSahu opened #69 "How to set value to field"
Can I do something like this?

[code]

[2019-07-08 22:46] josespinal commented on #65
@colemvn Did it work when Editing?

[2019-07-09 00:02] colemvn commented on #65
Yes! I've been using the package since my comment and I haven't met any other problems. Did you look into the issue I shared?

[2019-07-09 23:20] josespinal commented on #65
Yes! Saw it. The thing is the initial state of the form is all fields with dependencies are hidden. Trying to find out where's the catch.

[2019-07-09 23:23] colemvn commented on #65
Well in the example is clearly the type for the number.

Maybe they changed how they manage it? Sadly i'm not advanced enough in Nova or this Package to assist you.

[2019-08-21 12:28] nsrosenqvist commented on #58
This would be great and probably a quite simple feature to add?

[2019-08-21 14:09] nsrosenqvist commented on #58
@unxsist after browsing through the code it seems like only 3 changes are necessary (unless I've missed something):

Insert at **FormField.vue** line 76
[code]

Insert at **NovaDependencyContainer.php** line 64:
[code]

Insert at **NovaDependencyContainer.php** line 77 (now 90):
[code]

[2019-08-27 08:57] Fabio1988 opened #73 "dependsOn field from parent relation"
Hello,

Is it possible to check a field-attribute from parent relation?
e.g. I have a question model and there I choose the type (e.g. checkboxes, or radio buttons, or text). I have a answer model and depending on the question-type I want to show a a addition visual-field.

I tried the dot-notation to climbing through the relation
`dependsOn('contentQuestion.inputType', '8')` but it doesn't work.

[2019-09-04 08:09] fede91it opened #74 "This is an abandoned project 💀"
The project is abandoned and no longer works with the latest versions of Nova. There are many pull requests waiting and they have not yet been accepted. I'm afraid the author has disappeared. I would then like to create a new fork and, with everyone's help, try to fix this package to make it work again.

Who would want to help me?

[2019-09-04 21:16] mylsCc commented on #15
@LevFlavien is right, rules only work if you use HasDependencies. Tried it myself.

[2019-09-05 04:33] grantholle commented on #74
I can't find an alternative to this package unfortunately. Seems like a fork and new maintainers is in order...

[2019-09-05 14:45] tainmar commented on #74
@fede91it this fork seems to be the most advanced : https://github.com/Lotfull/nova-dependency-container

[2019-09-06 07:52] tainmar commented on #74
I forked Lotfull's fork to [https://github.com/tainmar/nova-dependency-container/tree/tainmar](https://github.com/tainmar/nova-dependency-container/tree/tainmar).

First remove epartment's project : `composer remove epartment/nova-dependency-container`

Then add the following lines to your `composer.json`

[code]

Finally, `composer require epartment/nova-dependency-container:"dev-tainmar"`

[2019-09-06 09:40] fede91it commented on #74
I see that the lotfull fork is maintained, why not use all that?

[2019-09-06 09:42] tainmar commented on #74
Well I did not want to publish their fork to packagist.
And they are not on a specific branch so I did not manage to call it like `dev-tainmar` above.
If you have a solution, it would be great

[2019-09-06 09:57] fede91it commented on #74
For now I have installed their fork in place of the original and everything works, it seems there is not even a problem, great!

[2019-09-06 09:59] tainmar commented on #74
How did you do, can you show me your `composer.json` please ?

[2019-09-09 09:32] hadinajem commented on #74
Well, the easiest thing to do is to use associative array with string keys instead of integers, it worked well in my case

This is the select component setup:
[code]

And when setting up the container just use the indexes as strings and not integers
`->dependsOn('type', "0")`

and:
`->dependsOn('file_type', "1")`

[2019-09-09 22:53] wize-wiz commented on #52
@shortcodes I'm trying to do the same thing, before I dive into this problem I'll just ask, have you figured it out or found another solution?

[2019-09-10 07:05] wize-wiz commented on #52
So 2 problems ..

First offf, there is no real problem with this package, but ... it seems the select field generated by a `BelongsToMany` field does not have a `field` property in its vue component.

https://github.com/epartment/nova-dependency-container/blob/65d3205509321b6fd04dd242e3e929b1183c82a0/resources/js/components/FormField.vue#L40

checks if the component is a so callled dependency comp

[2019-09-10 07:21] shortcodes commented on #52
@wize-wiz If i remember correct ( i might not) i changed relation type to hasMany (there is not much difference - mental one) and  used default nova filters in model file

[2019-09-10 07:23] wize-wiz commented on #52
@shortcode Ok cool, but I really need these containers to work in a `BelongsToMany` setup so I'll post a working version and check if it works with all other relation fields, `HasMany` etc ;)

[2019-09-10 07:53] wize-wiz commented on #52
Here is a working version for a `BelongsToMany` field.

https://github.com/wize-wiz/nova-dependency-container/commit/03b94ca6d0ea5bb5a478439f99b39cc083d3e5c7

Just a bogus fork, nothing serious really.

[2019-09-10 08:27] wize-wiz commented on #74
@fede91it @tainmar @grantholle so what's the status here? This is not going to help the folks installing this package when all the readme's of all forks telling you to `composer require epartment/nova-dependency-container`

[2019-09-10 08:44] tainmar commented on #74
The forks are mostly people doing things on their side. The best case would be to create a new repo and to publish it on packagist.

Otherwise, my solution there works : https://github.com/epartment/nova-dependency-container/issues/74#issuecomment-528752163

I was expecting an answer from @fede91it but nothing yet.

[2019-09-10 08:50] wize-wiz commented on #74
@tainmar I know it works, I forked a fork from your fork.. all those forks ;)

This package needs a rewrite though..

[2019-09-10 08:52] wize-wiz commented on #74
Ah you know what, f*ck it, I'm going to ask the company (I'm Dutch) where the guy is who published this repo. All those people on epartment seem very nice.

[2019-09-10 11:09] wize-wiz commented on #52
@shortcodes clean solution

https://github.com/wize-wiz/nova-dependency-container/commit/1ca74992118cf84c8f31a40407a71e36abe2ee89

Will test other relation types in the next couple of days when I have real examples.

[2019-09-10 20:05] wize-wiz commented on #52
Problems seems to be a bit bigger, but solved. Still at the cost of modifying a nova class, see

https://github.com/tainmar/nova-dependency-container/commit/dd446102c4beb9cde94dd3e0e421268ea0f38a79#commitcomment-35027624

`ResolvesFields` seems to be having the same problem in different scenarios with core functionality.

https://github.com/laravel/nova-issues/issues/1694
https://github.com/larave

[2019-09-12 06:44] tainmar commented on #74
Any news from them ? @wize-wiz
Btw, is your fork working when creating with `belongsTo` relationship ?

[2019-09-13 11:36] wize-wiz commented on #74
@tainmar I've asked him if he is willing to transfer the repository, anyway I've add you as a collaborator as well, at least we could merge PR's and handle issues if we time on our hands. That's least thing we can do.

[2019-09-17 22:46] jnbn commented on #74
@d35k & @bsormagec perhaps we can help @wize-wiz  and @tainmar for the maintenance of the project?

I suggest getting a copy and continue with a new repo and a new name if @epartment don't have any plans on maintenance (instead of keeping it).

And just get help from @epartment to update the readme and refer it for the new versions for better maintenance. Otherwise we'll all have to check all the

[2019-09-18 06:09] wize-wiz commented on #74
@jnbn That would be great; I'm going to wait till coming friday for a response on my proposal. If no response till then, setting up a new repo would be the only thing left to do.

[2019-09-19 11:52] wize-wiz opened #76 "This project is not abandoned 🤗"
I've contacted the author of this package for his permission to maintain and continue the development of this package. In the next days I will review all PR's and try to handle/sort/answer most of the issues.

Anybody who wants to help, just leave a note.

[2019-09-26 07:26] #48 closed

[2019-09-26 07:27] #49 closed

[2019-09-26 07:37] wize-wiz commented on #58
@nsrosenqvist so where the PR? :)

[2019-09-26 07:38] #74 closed

[2019-09-26 08:21] wize-wiz commented on #65
Closing this issue, don't have a clue what the problem is. Open a new issue if I missed anything.

[2019-09-26 08:21] #65 closed

[2019-09-26 08:22] wize-wiz commented on #57
@YuCoLabKenny could you supply a working example?

[2019-09-26 09:03] #57 closed

[2019-09-26 09:15] jnbn commented on #74
Seems like you started as contributor @wize-wiz ?

[2019-09-26 09:17] jnbn commented on #76
Congratulations @wize-wiz . We'll be trying our best w/ @d35k

[2019-09-26 09:19] jnbn commented on #76
I'd suggest releasing 1.2.0 for the Laravel 6 support as soon as possible.

[2019-09-26 09:20] wize-wiz commented on #74
@jnbn Yea, this needs to be sorted out first before anybody can start merging or sending PR's. Most PR's are a mess and people started fixing problems for them selfs and mixed fixes and features in a bunch of commits no one understands.

Will take some time but I'll get there :)

[2019-09-26 09:21] wize-wiz commented on #76
Yea I'm on it, I'm testing locally now to see if everything works as the README describes on how it should work. All other problem like problems with other packages or bugs are going to be fixed in 1.2.x versions. Milestone was more like a quick idea, 1.3.x will be all fixes and sorted issues. I'll change that in a bit.

[2019-09-26 10:00] nsrosenqvist commented on #58
@wize-wiz I would have created one if I had time, due to constraints I just worked around the issue. If it becomes an issue foe me again I'll probably clone and create a PR. If someone else is willing to take the time then there should be enough information here to do so.

[2019-09-26 13:03] #25 closed

[2019-09-26 18:52] wize-wiz commented on #67
@banstola I don't see how this is related to this package. This package doesn't add any routes, so I highly suspect this problem lies somewhere in your routing configuration.

[2019-09-26 18:52] #67 closed

[2019-09-26 19:01] wize-wiz commented on #55
@fede91it I'm closing this issue, please open a new issue if still is relevant.

[2019-09-26 19:01] #55 closed

[2019-09-26 19:02] wize-wiz commented on #53
@rmmaitrey could you elaborate a bit more what isn't working and add some example code?

[2019-09-26 19:56] wize-wiz commented on #50
@ArmeniaH @yaroslavshyshkin @FhatFreak  I'm unable to reproduce the problem with given examples, it seems to work just fine, tested with latest v1.2, Laravel 5.8|6.0 and Nova 2.3, can you confirm?

[2019-09-26 20:14] wize-wiz commented on #11
@garrettbland @Mesj96 @webappbuilder @gwleuverink Does this only occur with cloud storage? I'm unable to reproduce this using local storage.

[2019-09-26 20:30] wize-wiz commented on #47
If not solved, open a new issue

[2019-09-26 20:30] #47 closed

[2019-09-26 20:31] wize-wiz commented on #33
like @Crov said.

If not resolved, open a new issue

[2019-09-26 20:31] #33 closed

[2019-09-26 20:33] wize-wiz commented on #22
I don't know, can we? Are you having any problems? If so, open a new issue with the exact problem.

[2019-09-26 20:33] #22 closed

[2019-09-26 20:54] wize-wiz commented on #41
@tanthammar unable to reproduce with latest v1.2, nova 2.3.1 and laravel 6. If problems remain, open a new issue

[2019-09-26 20:54] #41 closed

[2019-09-26 20:59] wize-wiz commented on #16
#68

[2019-09-26 21:10] wize-wiz commented on #45
@jackabox I'm unable to reproduce this with the latest version v1.2, can you confirm? If not please open a new issue with example code.

[2019-09-26 21:10] #45 closed

[2019-09-26 21:11] wize-wiz commented on #40
@fede91it could you supply an example?

[2019-09-26 21:49] wize-wiz commented on #39
@fede91it  unable to reproduce, seems to work fine with version v1.2.

[2019-09-26 21:49] #39 closed

[2019-09-26 21:52] wize-wiz commented on #28
@anakadote @niladam @garyonyx, as @voidgraphics already mentioned, I'm unable to reproduce with all flavours of Nova File types. It seems to work just fine when storing to local/public disk. Using latest v1.2 and Nova 2.3.

If there still is an issue, open a new one.

[2019-09-26 21:52] #28 closed

[2019-09-26 21:54] wize-wiz commented on #69
No, that's not supported.

[2019-09-26 21:54] #69 closed

[2019-09-27 00:03] wize-wiz commented on #29
Fixes in #77

[2019-09-27 00:03] #29 closed

[2019-09-27 00:06] #17 closed

[2019-09-27 00:07] wize-wiz commented on #21
Using `HasDependency` indeed solves the problem, I will update the README about this.

[2019-09-27 00:07] #21 closed

[2019-09-27 00:09] #18 closed

[2019-09-27 05:27] #50 closed

[2019-09-27 07:30] wize-wiz commented on #54
@nysso I'm having problems too with the this package but I'm unable to reproduce the error. Could you give me a code example where this error occurs?

[2019-09-27 11:16] wize-wiz commented on #11
If this issue occurs and someone can give a clear example, please open a new issue.

[2019-09-27 11:16] #11 closed

[2019-09-27 11:34] wize-wiz commented on #73
@Fabio1988 I need to know the content of `contentQuestion`.

Is this a `BelongsTo` component or just an array/object, if so, whats the structure?

The `dependsOn()` method relies on the input form name, e.g. In your example `contentQuestion` is the form field (e.g. attribute) and `.inputType` is the property on the **resource**.

If we have a resource `Post` and the resource has a field `select_na

[2019-09-27 11:45] wize-wiz commented on #38
@avs262 It's not quite clear what the question is here.

Do you mean the following setup, as in checking multiple values of one field `Field`:

[code]

or checking multiple fields for multiple values

[code]

`NDC` is a shortcut for `NovaDependencyContainer`I use.... just for clarification.

[2019-09-27 23:49] wize-wiz commented on #68
Fixed in https://github.com/epartment/nova-dependency-container/commit/dddd8a470d57d0885d6ec2531e6c7cc801d45b58

[2019-09-27 23:49] #68 closed

[2019-09-27 23:52] wize-wiz commented on #62
@preliot @artisaninweb could one of you give me a short working example with models/resources on how you build the relationships?

[2019-09-27 23:53] wize-wiz commented on #58
Added in https://github.com/epartment/nova-dependency-container/commit/1fb8b97694b915e3c344f46df99b3f42b1c6163c

[2019-09-27 23:53] #58 closed

[2019-09-27 23:54] wize-wiz commented on #16
Fixed in https://github.com/epartment/nova-dependency-container/commit/dddd8a470d57d0885d6ec2531e6c7cc801d45b58

[2019-09-27 23:54] #16 closed

[2019-09-27 23:55] wize-wiz commented on #32
I have absolutely no idea at the moment, how to fix this easily without breaking anything else.

[2019-09-28 00:00] #76 closed

[2019-09-28 12:13] wize-wiz commented on #53
The package [nova-repeatable-fields](https://github.com/fourstacks/nova-repeatable-fields) by fourstacks is not actively developed anymore. The author recommends using [flexible-content](https://github.com/whitecube/nova-flexible-content/issues) by whitecube  instead.

[2019-09-28 12:13] #53 closed

[2019-09-28 12:14] wize-wiz commented on #54
I believe this has been fixed in 1.2.2. If there are still problems, then please open a new issue.

[2019-09-28 12:14] #54 closed

[2019-09-28 14:22] wize-wiz opened #79 "Add parameter 'comparison operator' to `dependsOn` method."
Add a third parameter to the `dependsOn` method to supply the comparison operator, by default the operator should be `=`.

[List of comparison operators](https://www.php.net/manual/en/language.operators.comparison.php) it should support:
 - `=` by default
 - `!=` or `<>` not equal
 - `==` identical (strict) as in `===`
 - `>` and `>=` greater or greater/equals
 - `<` and `<=` smaller or smaller/eq

[2019-09-29 01:17] wize-wiz commented on #7
`dependsOnCustomComponent` has   been removed in favor of the `dependsOn` method. Could you give me an example code of your implementation using [nova-checkboxes](https://novapackages.com/packages/fourstacks/nova-checkboxes)?

[2019-09-29 01:21] wize-wiz commented on #14
@lucasromanojf @fukumori Could you give me an example code of your implementation using [nova-checkboxes](https://novapackages.com/packages/fourstacks/nova-checkboxes)?

[2019-10-01 11:04] lvdhoorn commented on #38
Love the dependency container but it would be much better if there is indeed the ability to use an array of values.

[2019-10-01 12:40] imgoingtoyellalldaylong commented on #38
@lvdhoorn array of values is not a solution to the bigger problem. The `dependsOn` method only relies on one input. An input can have multiple values but in general it contains one value. If an array is used to compare against multiple values, the bigger question is, should it be an `or` statement or an `and` statement.

To clarify:
[code]

Can have two statements:
 - `input == 'value1' or input =

[2019-10-01 12:42] wize-wiz commented on #38
Sorry, I seem to be commenting with my test account all day :D

@lvdhoorn array of values is not a solution to the bigger problem. The `dependsOn` method only relies on one input. An input can have multiple values but in general it contains one value. If an array is used to compare against multiple values, the bigger question is, should it be an `or` statement or an `and` statement.

To clarify:
[

[2019-10-01 13:48] ThisIsJustARandomGuy commented on #40
@wize-wiz Not OP, but I ran into the same problem today. I'm trying to have a Textfield that's translatable and which depends on the value of a select. The code I'm trying to get to work is quite simple:

    NovaDependencyContainer::make([
        Translatable::make([
            Text::make('Service', 'service')
        ]),
    ])->('type', VoucherType::SERVICE)

But it fails in `NovaDependencyCo

[2019-10-01 17:54] wize-wiz commented on #40
@ThisIsJustARandomGuy Thanks for the input. Just out of curiosity, what does `])->('type', VoucherType::SERVICE)` exactly do?

Just be clear here, this is not a problem with [spatie/laravel-translatable](spatie/laravel-translatable), but the nova package [mrmonat/nova-translatable](https://github.com/mrmonat/nova-translatable), right?

The nova [translatable field](https://github.com/mrmonat/nova-

[2019-10-01 18:59] wize-wiz commented on #40
Aah its this package [spatie/nova-translatable](https://github.com/spatie/nova-translatable) :)

[2019-10-01 19:50] wize-wiz commented on #40
@ThisIsJustARandomGuy

I haven't tested it yet, but this should fix the problem.

`Translatable` calls `$this->createTranslatableFields();` in `__construct`

[code]

which calls `$this->data[] = $this->createTranslatedField($field, $locale);` in the `eachSpread` callback at the bottom. Which sets a resolve callback and returns the cloned `$originalField`.

[code]

So the `$translatedField` lands i

[2019-10-01 20:04] wize-wiz commented on #40
@ThisIsJustARandomGuy sorry, I updated the comment a view times. Try the fix if you like and if it works, let me know, I'll pull it in the next release.

[2019-10-01 20:52] ThisIsJustARandomGuy commented on #40
@wize-wiz Sorry for the late reply. I missed some code in my original comment. It should say `->dependsOn('type', Voucher::SERVICE)`. I'll edit my comment. Anyways, thank you for the quick and thorough reply! I'll test this tomorrow morning and will give feedback.

[2019-10-02 13:56] ThisIsJustARandomGuy commented on #40
@wize-wiz I got it to work correctly by overriding the NovaDependencyContainer constructor with a slightly altered version of your patch:

    public function __construct($fields, $attribute = null, $resolveCallback = null)
    {
        parent::__construct('', $attribute, $resolveCallback);

        $metaFields = [];
        foreach ($fields as $field) {
            // patch for nova-translatable

[2019-10-02 19:01] skoyah opened #80 "[BUG] Belongs not working properly"
Having a `BelongsToField` inside the container is not working as expected. Although it saves the value in the database, every time we refresh the page, the field is empty.

At first, I thought it was only a rendering issue, but if I make the field as required, it still asks for the required field.

<img width="658" alt="Screenshot 2019-10-02 at 20 54 41" src="https://user-images.githubusercontent.

[2019-10-02 19:13] wize-wiz commented on #80
@skoyah Thanks for input, I'll take a quick look.

[2019-10-02 20:33] skoyah commented on #80
Thank you @wize-wiz ! Is quite a roadblock for our current project. :)

Also made a quick inspection with Vue Dev tools and its confirmed that the value of the field is null inside the container.

[2019-10-02 20:58] wize-wiz commented on #80
@skoyah Yea I found the problem, there are some other small bugs that will be released soon. I'll try to make a clean fix and push this one to 1.2.3.

[2019-10-02 21:44] skoyah commented on #80
Thank you! Could you point me out the problem so I can make a quick fix while the new version is not out?

[2019-10-02 22:09] wize-wiz commented on #80
Pushed in 1.2.3, should be working now, please verify and close if so :)

[2019-10-03 08:21] yehudahkay opened #81 "Rules used from first dependency container"
I am using the following code to allow me to display different institutions based on the user type selected. However the second field uses the first fields rules which means that the rule fails

[code]

[2019-10-03 11:03] wize-wiz commented on #81
There is a PR for probably the same issue [#60](https://github.com/epartment/nova-dependency-container/pull/60). This is probably the only PR I'm going to merge the coming days, maybe I'll have some time tonight to push this one in a new release.

[2019-10-03 11:09] skoyah commented on #80
@wize-wiz I can confirm that this issue was resolves with latest release. Thank you!

[2019-10-03 11:10] #80 closed

[2019-10-03 21:23] wize-wiz commented on #81
@yehudahkay Should be fixed in [1.2.4](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.4), could you please verify and if so close this issue?

[2019-10-04 10:23] yassir3wad opened #82 "Error after upgrading to version 1.2.4"
After upgrading the package from version 1.2.3 to 1.2.4 all nova actions in the project don't work with the following error:
`Epartment\NovaDependencyContainer\Http\Requests\ActionRequest does not exist {"userId":1,"exception":"[object] (ReflectionException(code: 0): Class Epartment\\NovaDependencyContainer\\Http\\Requests\\ActionRequest does not exist at vendor\\laravel\\framework\\src\\Illuminat

[2019-10-04 10:45] wize-wiz commented on #82
Hi @yassir3wad, could you give me a stacktrace? I just did a fresh laravel install + nova  + dependency container and I have no such error.

[2019-10-04 10:49] wize-wiz commented on #82
@yassir3wad Aah, could you change in the `HasDependencies` trait line `99`

[code]

to

[code]

and see if that fixes the problem?

[2019-10-04 11:51] yassir3wad commented on #82
Hi @wize-wiz still not working.

Stacktrace:
[code]
![image](https://user-images.githubusercontent.com/31948375/66205291-b44e2500-e6b5-11e9-9cf1-499dfc45cbb3.png)

Note: I tried to downgrade the version and everything back to work. Another thing that the error occurred in every action whether HasDependencies or not

[2019-10-04 12:29] wize-wiz commented on #82
@yassir3wad that doesn't seem right, it seems Nova can't resolve the class from vendor.

Could you do the following and let me know if it fixes the problem at your side.

Change the following in `HasDependencies` for method `public function validateFields()`

[code]

[code]

[2019-10-04 13:21] wize-wiz commented on #82
@yassir3wad just pushed [v1.2.5](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.5). Let me know if it fixes the problem, if so, you can close this issue.

If not, I need some more info how you implemented the action fields.

[2019-10-04 18:43] yassir3wad commented on #82
Thanks  @wize-wiz , Its working.

[2019-10-04 18:43] #82 closed

[2019-10-05 15:12] milewski commented on #79
Hi @wize-wiz , I saw you merged one PR I made to this repo recently #60 , At the time when I was facing issues with this package and I made that PR, It worked well for a while, but it failed apart when I started requiring dynamic multiple nested dependencies which required validation and different type comparison operators as you mentioned on this issue,

So today I dusted off a bit the solution I

[2019-10-06 10:18] wize-wiz commented on #79
Hi @milewski , that's hilarious, we both have rewritten this package mostly the same way. I'm currently writing a 2.0 version of this package but I'm quite unsure because it will break all compatibility.

So I too was playing with the idea to publish it under a different name and try to maintain both packages. I'm not quite finished with 2.0, but it definitely shows potential, specially for the cu

[2019-10-07 02:36] milewski commented on #79
That`s nice! do you have this v2 WIP online somewhere?

Initially, I tried not to go as deep on the if (AND/OR) because it would most certainly complicate things, especially on the deeply nested dependency feature I'm planning on to release, it`s about 80% done and works like this:

[code]

Currently, it's possible to nest `ConditionalContainer` as deep as you want but the inner dependency can onl

[2019-10-07 08:05] yehudahkay commented on #81
Yes thank you!

[2019-10-07 08:05] #81 closed

[2019-10-07 08:06] anditsung opened #83 "creating and editing resource got resource class error"
when try to create and update the resource will have an error

Resource
[code]

Model
[code]

![Screen Shot 2019-10-07 at 14 45 12](https://user-images.githubusercontent.com/1090413/66293659-574eab00-e911-11e9-9f09-4511044ba342.png)

[2019-10-07 10:32] wize-wiz commented on #40
That doesn't seem right even if it might fix the problem. The translatable container should manage resolving its own fields, I'll look into this problem when I have some more time to test around.

[2019-10-08 02:31] noahlocke opened #84 "Validation still doesn't work..."
I'm using the `HasDependencies` trait on my resource.

[code]

[2019-10-08 03:07] wize-wiz commented on #84
@noahlocke does `county.id` belongs to a `BelongsTo` field?

[2019-10-09 14:33] preliot commented on #62
Update: just updated to Nova 2.4.0 and not seeing it anymore. Not sure if the update fixed it **or** something i've done earlier. Saw a comment in my code, could be a hint:

//bugfix: field uses a morphTo, which adds **required rule** to org_level_type.

[2019-10-09 17:52] wize-wiz commented on #62
@preliot That's good to hear, you could close this issue if the problem is fixed and open a new issue if something pops up again somewhere else.

[2019-10-10 06:06] #62 closed

[2019-10-10 08:50] seoperin commented on #83
Same problem

[2019-10-10 10:44] wize-wiz commented on #83
@seoperin Can you please make sure you are using the trait `HasDependencies` in your resource?

[code]

[2019-10-10 11:06] seoperin commented on #83
Yes, i use this trait

[2019-10-10 14:04] preliot opened #85 "Dependable MorphTo will not work correctly (again)"
I've recently updated to Nova 2.4.0 and issue #62 seemed to be resolved. I can select the client or department without any issue. However, when i try to save this resource I get an error:

[code]
When i leave out the dependable container, the fields work like expected. Problem is in this file:

[code]

When $class is set, the first time i see a real class path. Second time function is called, $cla

[2019-10-10 14:31] wize-wiz commented on #83
@seoperin @anditsung Could you please try the following

in `vendor/epartments/nova-dependency-container/src/HasDependency.php` for the trait `HasDependency`, could you replace line **29**

from

[code]

to

[code]

and tell me if this resolves the issue when creating a resource?

[2019-10-11 03:49] milewski commented on #79
Hi, @wize-wiz I found a nice library (https://github.com/altef/logipar) to do the logical operation and it worked out of the box without much effort, including the issues I mentioned I would face if I were to take such an approach

now you can literally write this expression:

[code]

And it just works

[2019-10-11 06:59] preliot commented on #85
@wize-wiz I am not using a BelongsTo, but a MorphTo field. There is no third parameter that i'm aware of. This is the piece of code (a bit simplified):

[code]

[2019-10-11 07:51] seoperin commented on #83
@wize-wiz yes, this solves the problem

[2019-10-11 08:03] wize-wiz commented on #83
@seoperin I also have no problems editing a resource or any other side effects. If so, I'll merge this change and close this issue if there aren't any other issues.

[2019-10-11 09:17] skoyah commented on #83
I ran into the same issue. Your solution seems to be fine. Could you merge it and tag it please? :)

[2019-10-11 12:04] wize-wiz commented on #83
Done [v1.2.6](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.6)

[2019-10-11 12:04] #83 closed

[2019-10-15 01:44] noahlocke commented on #84
@wize-wiz yes

[2019-10-15 02:44] noahlocke commented on #84
@wize-wiz I think you fixed this in c69b2a3

[2019-10-15 02:44] #84 closed

[2019-10-16 03:48] nemrutco opened #86 "undefined index error after upgrading to nova 2.5.0"
i am not sure why but i think there is a compatibility  issue with nova 2.5.0, everything is fine until nova 2.4.0 version.

[2019-10-16 04:50] snk-lab commented on #86
Exactly the same in my environment

[2019-10-16 18:23] Tarpsvo commented on #86
It's definitely in the right place.

To fix this temporarily in your project, you can just add this to each `NovaDependencyContainer`:

[code]

[2019-10-16 20:58] wize-wiz commented on #86
@nemrutco @Tarpsvo @snk-lab Yea they added `requiredCallback` to `Fields.php`. A simple return false in the `NovaDependencyContainer` class constructor would fix it.

[code]

But I'm not sure if this is just a workaround or an actual fix. They seem to be mixing a lot now in `Fields.php`.

[2019-10-16 22:00] Tarpsvo commented on #86
I don't really like the solution of adding a useless `requiredCallback` (even though it is a fix) and I'm hoping they merge my PR with the `!empty($this->attribute)` check.

Giving the NovaDependencyContainer an actual attribute should also be a fix, though I haven't tested it and the attribute itself would also be equally useless.

[2019-10-17 00:55] nemrutco commented on #86
your link gets 404, that's why i asked are you sure you posted in right place.

[2019-10-17 08:01] wize-wiz commented on #86
@nemrutco Yea `laravel/nova` isn't public as far as I know.

@Tarpsvo A PR doesn't help much if nova expects a key to be present in an array, where some PR for this package obviously didn't wrote anything compatible to novas behaviour prior to 2.5.0.

The default behaviour should apparently always be.

[code]
Although it would nice to check the index first, I think they made this choice to escalat

[2019-10-17 08:06] wize-wiz commented on #85
@preliot Sja ik was een beetje in de war, sorry ;)

`MorphTo` relation should now work in [1.2.7](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.7). I have tested it in Nova 2.3/2.31/2.4/2.5.

Please verify and if solved, close this issue.

[2019-10-17 09:18] snk-lab commented on #86
The problem could be avoided by including the following.
`->required(function () {
  return false;
})`

[2019-10-17 09:32] preliot commented on #85
@wize-wiz will check soon and confirm my findings.

Die Niederländische sprache ist eine nette Geste, woher wusstest du das?

[2019-10-17 09:41] snk-lab commented on #86
@wize-wiz

Thank you very much. Updated to remove unnecessary modifications.

[2019-10-17 10:07] preliot commented on #85
@wize-wiz I gues it's that time again ... my yearly shower awaits me!

[2019-10-17 18:56] mitchkramez opened #87 "Issue with Select when using ->displayUsingLabels()"
All selects outside of my NovaDependencyContainer work fine with the ->displayUsingLabels() method, however, those within a NovaDependencyContainer, won't render the selected value when editing, it shows as blank, and saves as such. Selecting a value and saving it, still works as expected though. Removing the ->displayUsingLabels() option seems to bring everything back to functional again.

[code]

[2019-10-17 19:32] sirikkoster opened #88 "Edit won't show fields until i change the depends on field"
If i create an record everything goes fine,
but when i edit a record the additional field is not visible

The `use HasDependencies;` is available in this resource

[code]
Am i doing something wrong or is this an issue

[2019-10-17 19:59] ragingdave opened #89 "Currency field not compatible with resolve logic"
The Currency field in nova has by default a displayUsing which will autoformat an empty value to something like `USD 0.00` which then can break storage. It looks like this has to be a part of the resolve switch to handle currency via a direct resolve call rather than delegating.

[2019-10-17 20:42] wize-wiz commented on #87
Sorry, iphone was being trigger frenzy closing this issue ..

[2019-10-18 05:30] nemrutco commented on #86
Problem solved. Thanks

[2019-10-18 12:36] wize-wiz commented on #86
Please close this issue if resolved.

[2019-10-18 12:39] #86 closed

[2019-10-18 14:06] wize-wiz commented on #88
@sirikkoster I was able to reproduce the problem.

[2019-10-18 14:43] wize-wiz commented on #88
@sirikkoster Problem is solved but I just need you to verify one thing. If the dependency is met (as in satisfied), do you see this field appear on the detail page? I currently don't.

[2019-10-18 14:50] sirikkoster commented on #88
currently i do not see it on the detail page

[2019-10-19 10:11] wize-wiz commented on #89
@ragingdave I'm unable to reproduce. Default currency is not applied when value is `null`, which nova translates to `--`. Could you supply an example of your implementation?

[2019-10-21 12:09] ragingdave commented on #89
Hmm... Well it's a pretty simple setup:

            NovaDependencyContainer::make([
                Currency::make('price')
                    ->hideFromIndex(),
            ])->dependsOn('attr', 'T'),

It would seem that I was incorrect in the assumption about empty being formatted. It's actually when the underlying value of the currency field is `0.00`, the field is treated as empty, and is fo

[2019-10-22 09:56] preliot commented on #85
Update to latest version and issue _changed_. Now i don't get an error, but no message in the frontend. My browser dev tools reveal the problem.

I see this message in the xhr request:

[code]
So now it seems to be a validation issue. Org_level is still a morphTo and underneath are the form fields send to the application:

[code]

[2019-10-22 17:37] wize-wiz commented on #85
Yea I noticed, I'll push a fix soon when I'm done with some other issues.

[2019-10-23 20:13] #89 closed

[2019-10-23 20:17] wize-wiz commented on #87
@mitchkramez Should be fixed in [1.2.8](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.8), please confirm and if so, close this issue.

[2019-10-23 20:18] wize-wiz commented on #88
@sirikkoster Should be fixed in [1.2.8](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.8), please confirm and if so, close this issue.

[2019-10-23 20:18] wize-wiz commented on #85
@preliot Should be fixed in [1.2.8](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.8), please confirm and if so, close this issue.

[2019-10-23 20:30] wize-wiz commented on #89
@ragingdave Even it if closed automatically, can you confirm 1.2.8 solves it? If not, just open a new issue.

[2019-10-23 21:15] mitchkramez commented on #87
@wize-wiz fully and completely fixed! thank you again!

[2019-10-23 21:15] #87 closed

[2019-10-23 23:29] ragingdave commented on #89
Will look into testing it tomorrow. Thanks for the quick work!

[2019-10-25 07:06] preliot commented on #85
Unfortunatly, now i'm back at the original issue:

Xhr request:

[code]

Laravel log file:

[code]

[2019-10-25 09:48] wize-wiz commented on #85
@preliot I currently do not have any problems with the `MorphTo` field.

My current test version is a default setup from the Laravel documentation [One To Many (Polymorphic)](https://laravel.com/docs/5.8/eloquent-relationships#one-to-many-polymorphic-relations)

[code]

Could you give me a minimal database structure and resource/model setup and a static/translated version of the following?

[code]

[2019-10-29 06:57] tnup opened #92 "Not working on Index"
Is this intended behaviour, or is this a bug?

[code]

will work on details and edit, but not on Index.

[2019-10-29 07:02] wize-wiz commented on #92
@tnup This was indeed intended by the author of this package. I'm working on a newer version that includes all default field behaviours. Maybe I can port some of the new stuff into the current 1.2 branch, I'll let you know.

[2019-10-29 07:28] tnup commented on #92
dankjewel ;-) thanks!

[2019-11-14 10:49] preliot commented on #85
@wize-wiz I've decided to move away from the issue. Still using this package, but this specific issue is no longer there. Thanks for all your efforts!

[2019-11-14 10:49] #85 closed

[2019-11-17 14:32] nilsE opened #93 "Compatibility with whitecube/nova-flexible-content"
Hi,

i'm trying to make a dependency _inside_ a flexible content layout (with  whitecube/nova-flexible-content), like so:

[code]
...but nothing happens when i check the "Check me" field.
Am i doing something wrong, can you help?

Thanks,
Nils

[2019-11-17 15:53] wize-wiz commented on #93
@nilsE The fix is quite simple for the dependency container to work with flexible content, though another problem appears due to duplicated content. There is an issue at flexible content somewhere addressing this problem. They don't have the time to address these issues.

I haven't had the time to send a PR fixing the duplicated content issue, because it might break some stuff I don't know about.

[2019-11-29 18:56] dalmarcolucas commented on #6
@niladam To solve this I did the following:

in file **nova\src\Fields\FieldCollection.php** add the method **findFieldRecusive**, that search the field recursively inside the nova-dependency-container "child" fields :

` public function findFieldRecusive($attribute)
    {
        foreach ($this as $field){

            if(isset($field->attribute) && $field->attribute == $attribute)

[2019-12-01 02:05] wize-wiz commented on #52
I have a working version with the current [v1.2.9](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.9) for a `BelongsToMany` field.

Please see the [README#BelongsToMany](https://github.com/epartment/nova-dependency-container/blob/master/README.md#belongstomany-dependency) on how to use it.

If there is any other problem with this release, please open a new issue.

[2019-12-01 02:05] #52 closed

[2019-12-01 02:48] wize-wiz commented on #93
@nilsE Please verify if [v1.2.10](https://github.com/epartment/nova-dependency-container/releases/tag/1.2.10) solves the problem.

[2019-12-01 09:17] nilsE commented on #93
works - thanks a lot!!!

[2019-12-01 09:18] #93 closed

[2019-12-03 17:01] ragingdave opened #94 "Add Ability for dependsOnNot"
This would be very helpful to be able to display either fallback detail page information/heading in case of an empty panel due to all other fields being hidden by a dependsOn clause.

[2019-12-03 21:41] pschocke opened #95 "camel case relation name not working as expected"
Only the visibility change on edit/create works. Rules are ignored and the field 'education_id' is never shown on details page.

Relation:
[code]

And the field:
[code]

[2019-12-04 04:29] DODMax opened #96 "dependsOnNotEmpty() not hidding container initially"
I updated from 1.1.2 and now I have a bug with `dependsOnNotEmpty( target )`

When creating a resource the container is not hidden initially even if the target is empty.
If I type something then empty the target field, then the container hides as expected.

Cheers!

[2019-12-10 10:37] vayurobins commented on #96
I have the same issue

[2019-12-10 10:43] Rorymercer opened #97 "BelongsTo relationship fails with Trying to get property 'resourceClass' of non-object error when contained in dependency container"
I have a BelongsTo relationship on a model where a Question can reflect back on another question:

[code]

This works normally in my App and in Nova.  However, when surrounded in a dependency container:
[code]

This fails with a Trying to get property 'resourceClass' of non-object error.

Tracing this back, it is coming from `Laravel\Nova\Http\Controllers\AssociatableController@index`

[2019-12-10 13:15] vayurobins opened #98 "hideWhenUpdating() and hideWhenCreating() not working inside dependency container"
It seems that hideWhenCreating() and hideWhenUpdating() are not working or ignored when placed inside NovaDependencyContainer and the dependsOn value is true.

[2019-12-10 14:11] wize-wiz commented on #98
@vayurobins None of the fields visual parameters are respected within the dependency container. This will be resolved in a later release.

[2019-12-10 14:14] wize-wiz commented on #97
@Rorymercer Are you using a property to check? e.g. `type.review_id`?

[2019-12-10 14:17] wize-wiz commented on #95
@pschocke How does the table structure for `UserGroup` look like?

Is `education_id_needed` suppose to be a boolean and only those with a value of `true` should be displayed with an extra field `Fortbildungsnummer`?

[2019-12-10 14:19] wize-wiz commented on #94
@ragingdave in other words, `dependsOn` equals `==`, and `dependsOnNot` equals `!=`?

[2019-12-10 14:22] vayurobins commented on #98
Okay @wize-wiz thanks for letting me know

[2019-12-10 15:48] smualex opened #99 "Enum cannot be converted to int"
Enums/ContactType.php:
[code]

Contact model:
[code]

Database:

[code]

Finally in my Nova model:

[code]

This works when creating a new resource, the dependency works perfectly.

When loading the resource page, it throws the error:
**Object of class App\Enums\ContactType could not be converted to int**

When I change the dependsOn line to this:
`dependsOn('contact_type', ContactType::Student())

[2019-12-10 16:01] wize-wiz commented on #99
@smualex Thanks for the time to post this. I have to install both packages to see how it handles the vue part. I'm very familiar with enums but not with these packages or even an approach to implement/emulate this behaviour in PHP.

Will take some time but I'll get back on this issue soon.

[2019-12-10 16:03] wize-wiz commented on #98
@vayurobins I will label it and get back to this issue when I have the time on my hands.

[2019-12-10 20:50] pschocke commented on #95
Exactly this should happen.
This is the migration for UserGroup
[code]

[2019-12-11 10:26] ragingdave commented on #94
pretty much

[2019-12-11 12:16] wize-wiz commented on #94
@ragingdave Do you want to have the honor of a PR? :)

[2019-12-11 13:16] ragingdave commented on #94
I can certainly give it a shot! :)

[2019-12-14 10:17] alberto-bottarini opened #101 "Problem with hasMany"
I have a nova resource configuration like this:

[code]

I would like to show a HasMany panel only if type field matches a defined value.

It works well, but when i click on Create button inside this panel, I got a 404 error on this URL: /nova-api/id/field/courseEditions i guess because Nova cannot find HasMany field because it is wrapped by NovaDependecyContainer.

[2019-12-16 08:19] dividy commented on #45
@jackabox I have the same issue, did you find the reason ?

Also, problem #2, the fields appear on the edit view, but not on detail view, any idea ?

[2019-12-17 07:53] dividy opened #102 "Detail view and compatibility with Flexible Content"
Hello,

I'm using Nova Dependency Container inside Flexible Content.

Any of you using these 2 together successfully ?

I'm having 2 issues :

Problem 1 - If I had 2 products to my "product" layout, values are saved correctly in DB buton the edit form, the products's fields have the last product's values (eg. in DB: sale_price: 1 / sale_price: 3 gives sale_price: 3 / sale_price: 3 in the edit form

[2019-12-17 10:13] wize-wiz commented on #101
@alberto-bottarini I'll test this myself when I have some more time to handle all the issues. This does seem weird though.

[2019-12-17 10:17] wize-wiz commented on #102
@dividy I need a working setup on how you use both packages.

The dependency container still has some minor problems when used within a flexible content layout. The overall problem of the dependency container not behaving correctly on index/detail/etc is already known and I'm currently working out some solutions.

[2019-12-17 10:46] dividy commented on #102
Hello @wize-wiz !

I use this Flexible Content preset :
`<?php
namespace App\Nova\Flexible\Presets;

use Whitecube\NovaFlexibleContent\Flexible;
use Whitecube\NovaFlexibleContent\Layouts\Preset;
use Laravel\Nova\Fields\ID;
use Laravel\Nova\Fields\Text;
use Laravel\Nova\Fields\Textarea;
use Laravel\Nova\Fields\Number;
use Laravel\Nova\Fields\Image;
use Laravel\Nova\Fields\Markdown;
use Laravel\Nova

[2019-12-17 14:01] wize-wiz commented on #102
@dividy This is a general problem. What you are basically doing is declaring multiple fields with the same name. All fields have to be present though.

But from what I can read from your code, maybe this is what you try to accomplish?

[code]

[2019-12-18 10:39] dmitrybubyakin opened #103 "Fields are not shown on the details view"
I use a relation property as a dependency, so `$resource->{$dependency['property']}` returns an incorrect value. Here is my solution:

[code]

And in my resource:
[code]

[2019-12-18 14:43] dividy commented on #102
**Yes that's intended.**
If you select 'L' or 'VL', I want the input field 'Prix en Location' to be displayed.
If you select 'R' I want the input field 'Relevé' to be displayed.
If you select 'V' or 'VU' or 'VL', I want the input field 'Prix de Vente' to be displayed.

_I noticed the dependent input fields id are called "price_rent", "price_sale" and "price_reading" instead of eg. "02d76404b3373b6

[2019-12-20 15:01] bernhardh opened #104 "Add css classes to the container"
Thanks for this great nova package, but it has a very common problem like almost all nova-packages - the lack of usefull css classes. If you need to style the component, you will try to do some very weird css hacks like `.flex >div >div :not(.whatever) ...`. Why not just add the name of the package into your `div` container?

The we can style it easily:

[code]

I will submit a pull request for it

[2019-12-23 09:02] dividy commented on #102
Any idea @wize-wiz ? :)

[2019-12-23 17:27] wize-wiz commented on #102
@dividy I have to rebuild the setup your using and try to understand the problem. This won't happen until the first week of the new year.

Happy holiday :)

[2020-01-02 11:11] dividy commented on #102
Would be great because I can't deliver my app to the customer next week without this.

[2020-01-06 09:21] dividy commented on #102
Hi @wize-wiz, happy new year !

Any chance for an update in the next days ?

[2020-01-07 12:50] bernhardh opened #106 "Nested dependencies (json field)"
If you have a nested dependency on a json field, you will get an exception `Trying to get property 'dependend_on_field_name' of non-object` on `NovaDependencyContainer.php:157`.

This is, because the `$resource` is an array instead of an object.

[2020-01-07 16:37] bernhardh commented on #102
Same here. I have a similar problem, with an easier setup:

[code]
If you now have for example the following input data:

- Type: "html", Content: "html 1"
- Type: "plain", Content: "Plain 1"
- Type: "plain", Content: "Plain 2"

You get DB entry like this:

[code]

But I get a result like this:

- Type: "html", Content: ""
- Type: "plain", Content: "Plain 2"
- Type: "plain", Content: "Plain 2"

[2020-01-17 12:59] phuclh commented on #98
I have the same problem. `onlyOnForms` doesn't work for the fields that placed inside the NovaDependencyContainer. Hope you have time to update this awesome field.

[2020-01-17 19:46] ben182 commented on #45
I have the same issue and did some more debugging on this. The problem is the boolean field. If you remove it everything works fine again. I will open a new issue.

[2020-01-22 16:48] kamilkozak commented on #96
This is because the field value is not empty, but is NULL. Try to save empty values in the database or use:
`                        ->resolveUsing(function ($value) {
                            return $value ?? '';
                        })`

[2020-01-27 16:00] MichaelT372 commented on #106
I also have the same issue and this seems like a simple fix. Is there any way we can get this merged?

[2020-01-29 15:54] jmaloneytrevetts opened #108 "Issue when used with Ebess\AdvancedNovaMediaLibrary"
I have image fields from Ebess\AdvancedNovaMediaLibrary showing/hiding correctly but if they will not save at all.  When moved outside of the NovaDependencyContainer, they save correctly

[2020-01-29 16:19] jmaloneytrevetts commented on #108
I did not have the trait set.  My fault.

[2020-01-29 16:19] #108 closed

[2020-02-02 19:17] david-kristin opened #111 "Dependent fields validation"
It seems like the attributes inside a container do not get validated.

In my case it looks like this:
[code]
Although there is an empty value in that datetime field, it is still considered as a valid.

[2020-02-03 18:20] anegoda1995 commented on #97
Version of package: **1.2.10**

Same happens with me too.
`Boolean::make('User can', 'user_can'),
            NovaDependencyContainer::make([
                BelongsTo::make('User to another user email', 'user_to_user_email_id', Email::class),
              ])->dependsOn('user_can', true),
`

This caused the error:
`Trying to get property 'resourceClass' of non-object`

I want to show belongsTo()

[2020-02-07 20:00] hasnatbabur commented on #98
I solved my issue like this:

[code]

Hope this will help for others. Thanks

[2020-02-07 20:02] hasnatbabur commented on #111
Same for me. Validation not working as expected.

[2020-02-13 16:07] YarinceP opened #112 "Nova depency container breaks benjaco/belongs-to-many"
Hi thanks for the Awesome package! :100:
I'm trying to use benjacho/belongs-to-many inside a NovaDepencyContainer. A few issues I've found:

There is a weird error when trying to create or update a record and the belongs-to-many field is wrapped in a NovaDepencyContainer. It appears that the field is treated as a column rather than a pivot (belongs to many, so there's no "column" to create or upda

[2020-02-16 22:56] Sky7ure commented on #40
Still... https://github.com/spatie/nova-translatable/issues/34

[2020-02-17 06:36] muhghazaliakbar commented on #108
@jmaloneytrevetts What do you mean the `set the Trait`?

[2020-02-17 07:41] wize-wiz commented on #108
@muhghazaliakbar

Add the `Epartment\NovaDependencyContainer\HasDependencies` trait to your Nova Resource as described in the readme.

[2020-02-17 09:51] msalmanshahid commented on #92
I am facing this too. Any update please?

[2020-02-22 08:54] hadinajem commented on #57
@YuCoLabKenny did you find a way to make it work?

[2020-02-23 15:11] JonathanPort commented on #97
Hi I'm having the exact same problem described above. It's a deal breaker for me. Cant use this package without this working properly. Any news on this?

[2020-02-24 19:39] Gil-1 opened #113 "Download link on File not working"
Hello,

As stated in the title,
right now the upload of a file is working but the download is not.
I see the link but when I click to download I get a "download.html" file with a "failure : file not founded".

Here is the code I use
[code]

Which is placed in a NovaDependencyContainer::make([]) array.

[2020-03-04 10:57] robindrost commented on #101
Any update on this issue? Having the same problem with a hasMany field. It work with an extra hidden hasMany field as suggested by @alberto-bottarini.

[2020-03-10 12:38] robindrost commented on #101
The problem is inside the AttachController.php getAvailableResources() method.

[code]
The "where" methods are looking inside the direct children returned by available fields. The HasMany field now exist inside a level deeper created by the NovaDependencyContainer field.

[2020-03-10 18:42] LewisW commented on #97
A workaround seems to be to create the field outside of the container but to hide that field for everything, so something like:

[code]

[2020-03-12 01:11] iSWORD commented on #97
Making the resource (in your case `Question`) use the `HasDependencies` trait seems to fix the problem for me.

[2020-03-18 11:35] cord opened #114 "BelongsTo dependency documentation misleading"
great package, but unfortunately the example

[code]

works only for `post.id` but not for other attributes of Post e.g. `post.title`

So I think #39 is still an issue.

[2020-03-20 20:05] sirikkoster commented on #88
@wize-wiz fixed

[2020-03-20 20:05] #88 closed

[2020-03-24 16:00] carlos-garcia commented on #14
Having same issue...

code

`Checkboxes::make('Enable Services for Brand', 'enabled_services')->hideFromIndex()
                ->options($this->getServices()),
            NovaDependencyContainer::make([
                Checkboxes::make('Select warehouse to enable', 'enabled_warehouses')->hideFromIndex()
                    ->options($this->getWarehouses())
                    ->rules(new OnlyIfF

[2020-03-27 10:47] Hujairi opened #115 "Image field type"
am trying to make image field in a dependency container, it works visually and the form got submitted successfully and updated in the DB but the result is a path to tmp folder with temp file.

`BelongsTo::make('Media Type','MediaType','App\Nova\MediaType'),`
`NovaDependencyContainer::make([
                Image::make('Photo','link')->rules(['required'])
            ])->dependsOn('MediaType.id', 1

[2020-03-27 19:54] LoganTFox commented on #99
I am also having this same issue.

[2020-03-30 05:51] jpitassi commented on #111
+1

[2020-03-31 18:34] Benjacho commented on #112
Hey i added dependency on original repo!

[2020-04-02 13:03] SDCCardsDeveloper commented on #97
I'm having the same issue here.

@LewisW & @iSWORD solutions also not working for me.

[2020-04-05 09:28] latwelve opened #116 "Using more operators <= >= !="
I may have missed this but is there not a way to make these conditionals a bit more flexible?

I have a select and I'd like to show another field if the value is greater or equal to 1, but it looks like the DependsOn only accepts a key and a fixed value at the moment is that true?

I also tried with dependsOnNotEmpty and starting my select from 1 but it must be reading a null value from the select

[2020-04-15 08:28] Prophe1 commented on #15
Still doesn't seem to be working

[2020-04-15 08:31] Prophe1 commented on #111
+1

[2020-04-17 23:15] socramjunio2 commented on #97
Solution for my problem thx :100:

[2020-04-25 20:48] socramjunio2 commented on #57
Eu consegui resolver e utilizar o dependency dentro do Nested Form, se alguém quiser é só falar que mando um pull ;)

[2020-04-28 00:24] issour opened #117 "does not work with : fieldsForCreate, fieldsForUpdate"
Hi,
As Documentation says :

Dynamic Field Methods Precedence ::
The fieldsForIndex, fieldsForDetail, fieldsForCreate, and fieldsForUpdate methods always take precedence over the fields method.

in trait HasDependencies

the collection is for fields : `$fields = $this->filter($this->fields($request));`

Many Thx !!!

[2020-04-29 17:01] patrickleemsantos commented on #102
Any update on this?

[2020-05-01 19:34] izi-dev opened #118 "Using clousure type boolean"
`NovaDependencyContainer::make([
                KeyValue::make(__('Options'), 'option'),
            ])->dependsOn('type', function ($value) {
                   return $value == 1;
            } ),`

[2020-05-01 19:37] izi-dev opened #119 "Package ABANDONED"

[2020-05-15 18:23] ragingdave commented on #119
@wize-wiz I would be very sad to see that this is getting abandoned, but after about 6 months without a peep, I can't really argue that it's not abandoned.

[2020-05-16 04:58] wize-wiz commented on #119
@ragingdave Yea some serious happened. If you like, accept the invite and I'll catch up somewhere end of the week. If you know anybody else seriously enough to maintain, I'll change your permissions to invite as well.

[2020-05-16 04:58] #119 closed

[2020-05-17 03:34] #94 closed

[2020-05-17 03:51] ragingdave commented on #118
How exactly would you envision this work? Specifically around translating a PHP closure into something that would work on the JS side as well?

[2020-05-17 03:52] ragingdave commented on #117
Would you be able to expand a bit on what does not work? Perhaps a bit of a clearer example along with expected vs actual behavior?

[2020-05-17 03:56] ragingdave commented on #116
So I recently merged in support for the `!=` case, so it seems like you are just looking for the comparison cases. Would you be willing to but together a PR for this? Perhaps something like how laravel query builder handles this for it's where clauses? If you'd like feel free to revamp the dependsOnNot and incorporate it into the dependsOn as well.

[2020-05-19 06:01] iBet7o commented on #102
I have the following Preset which works fine when creating a record.

![image](https://user-images.githubusercontent.com/590235/82289352-3b60bc80-996a-11ea-85f7-9fee58407c1c.png)

But the log detail shows the following error.

![image](https://user-images.githubusercontent.com/590235/82289605-c5a92080-996a-11ea-87f1-bb184c7a1b31.png)

And when editing the resource, the first field doesn't display

[2020-05-19 21:42] izi-dev commented on #118
@ragingdave
create this package meeting that need and in a slightly simpler way

https://novapackages.com/packages/izi-dev/nova-conditional-field

[2020-05-19 21:51] izi-dev commented on #118
I did something similar, maybe this could help

https://github.com/izi-dev/nova-conditional-if

[2020-05-25 07:28] Equruler commented on #102
Any update?

[2020-05-31 05:21] alberto-bottarini commented on #101
Any news?

[2020-06-13 06:27] ashishsanjayrao opened #120 "Unable to get it to work"
Hi,

I'm quite new to Laravel Nova, and I'm trying to get this package installed. I'm using Laravel `v5.7` and Nova `v1.3.2`. Hence, I've installed `v1.1.2` of this package.

I followed the installation guidelines and have written the following code:
[code]

I can see the field Route with the right options and values. However, when I select 'Full Name', the dependent field Title is not displayed.

[2020-06-18 19:44] wize-wiz commented on #120
Version 1.1.2 is the last version before I started fixing most of the issues. I suspect that your setup never actually worked with 1.1.2.

[2020-06-18 20:15] wize-wiz commented on #118
@izi-dev yes, but the question remains, how to transform/translate the content of a PHP closure to JS.

[2020-06-21 03:46] izi-dev commented on #118
If you have to make requests to the server, and with the NovaRequest we can access the fields with all their attributes, in the controller you can find how to do it.

[2020-06-21 09:00] wize-wiz commented on #118
@izi-dev yes, for static group of fields, that would work. But how would the approach be when fields are added dynamically,  e.g with the flexible content package? Or even multiple nested dependency containers for that matter?

[2020-06-21 09:20] izi-dev commented on #118
@wize-wiz
If I understand, at the moment I did not find another way to solve it with the mentioned flexible content package and I imagine that it is the same with the other cases, this only works with simple fields I suppose, it will be necessary to continue investigating.

[2020-06-21 09:52] wize-wiz commented on #118
@izi-dev well the problem is that any API call to a nova resource is a moment in time. It would be ridiculously complex to keep track of changes in the front-end and emulate any dynamic change in the backend with phantom/pseudo resources.

The real problem why, in my opinion, there won't be a solution to this problem, is that this package makes it possible to nest containers endlessly. Each change

[2020-06-21 17:06] izi-dev commented on #118
@wize-wiz

I understand, the reason why I wanted this was because it only allows to send a single value so that the condition is fulfilled, and that is why I intended to do an anonymous function that would dynamically calculate the condition, but if we can send an array instead of an primitive value and so we have more option to assemble the possible answers so that a field is shown

`-> dependsOn

[2020-06-27 09:20] BenWalters opened #121 "dependsOnNot - Not working for integer values"
When using the newly implemented `->dependsOnNot('field', 'value')` if value is an integer then the condition is never met.

 `->dependsOnNot('field', 2)` - Not working
 `->dependsOnNot('field', 0)` - Not working
 `->dependsOnNot('field', '0')` - Works

This behaviour is different to `->dependsOn('field', 'value')` which does support integer comparison.

 `->dependsOn('field', 2)` - Works
 `->depe

[2020-07-02 10:03] Paradiddley commented on #102
@iBet7o I'm getting the same property of non-object error with a layout using flexible-content. In the `resolveForDisplay` method in the `NovaDependencyContainer` class, the `$resource` var being  passed through is an array where is should be a resource instance. I have the `HasDependencies` trait on my resource.

This is my layout using Nova 2.12.0, felxible-content 0.2.3 and 1.2.11 of this packa

[2020-07-02 11:50] wize-wiz commented on #102
@Paradiddley try to use the [development](https://github.com/epartment/nova-dependency-container/tree/development) branch, only branch so far that supports flexible content and inline relationship.

[2020-07-02 14:09] Paradiddley commented on #102
@wize-wiz I've updated the package to use that branch but I get another error `Call to undefined method stdClass::getAttribute()`. There's a MorphTo fix in there that's expecting the `$resource` to be a Resource instance but it's type casted to an stdClass. I've cloned that branch and had a look and just added a condition before it. This has fixed it for me. Let me know if you're happy for me to p

[2020-07-13 21:08] Benjacho commented on #113
Hey could you achive some solution? Thanks

[2020-07-14 10:56] Peterragheb commented on #120
I cant get it to work. I am using laravel 7.19.1 and nova 3.7.1

[2020-07-14 12:01] Peterragheb commented on #120
I got it to work using `supportedPlatform.id` and was able to perform the OR operation using multiple depends on methods.
There should be a way to make the dependency support other attributes than `ID`

[2020-07-14 19:15] wize-wiz commented on #102
@Paradiddley sure PR would be great 👍

[2020-07-17 03:55] uandco commented on #118
I think "DependsOnContain" and "DependsOnNotContain" would be very useful and are easy to translate to JS (or add the ability to use regular expressions in DependsOn. I tried @izi-dev 's package and that works for my need but I use it on a text field (we need to show a password field only if the email field doesn't contain a certain domain) and that generates way too many API calls for my liking.

[2020-07-17 13:04] izi-dev commented on #118
@uandco If, in that case my package generates many calls to the api, maybe I will make an improvement on that, you can propose an issue, I am willing to help you.

[2020-07-17 16:58] ragingdave commented on #118
@uandco DependsOnContain and DependsOnNotContain could be a good addition. Feel free to submit a PR

[2020-07-18 11:46] Paradiddley commented on #102
@wize-wiz sure thing, here you go #123

[2020-07-19 09:54] abdallah84 commented on #112
@Benjacho How to use nova-dependency with yours belongs-to-many ?

[2020-07-22 17:14] aedart commented on #20
I hope that this feature request is still active. I too could really use a different mechanism for value comparison.
The most dynamic I can imagine, is by accepting a `callback`, as @ghost already suggested.

[2020-07-22 17:31] wize-wiz commented on #20
@aedart no it's not active, I'm currently working on different solutions. Callback is not possible, this just will not work.

[2020-07-22 18:36] aedart commented on #20
@wize-wiz, ok. Thanks for your quick reply :)

[2020-07-30 02:51] noahlocke commented on #112
@Benjacho or @wize-wiz any chance we can get these two to play nice? Two very awesome packages!

[2020-07-30 13:06] Benjacho commented on #112
I added this in my repo
`
 BelongsTo::make('Association', 'association', 'App\Nova\Association'),

     BelongsToManyField::make('Participants', 'participant', 'App\Nova\Participant')
     ->dependsOn('association', 'association_id'),
`

[2020-07-31 12:09] skoyah commented on #112
I've tinkered around and I found a solution that works.

the `HasDependencies` trait has the following method:

<img width="1081" alt="Screenshot 2020-07-31 at 14 06 53" src="https://user-images.githubusercontent.com/36083448/89033569-5ae76e80-d337-11ea-8c27-0000db90abca.png">

[2020-08-04 02:03] noahlocke commented on #112
Thanks @skoyah, will try this out!

[2020-08-12 11:10] Mopsit commented on #96
It seems to me like the issue comes, when creating a new resource and there's no value.

in FormField.vue contains the following code:
[code]

This code is ment to check ->dependsOn('field', $value), buf if you use, let's say ->dependsOnNotEmpty('field'), the value parsed from getFieldLayout() will be null:
[code]

Due to this `dependency.hasOwnProperty('value') && dependencyValue == dependency.va

[2020-08-24 20:16] wize-wiz commented on #121
@BenWalters Could you create PR? If not, this has to go on the list of many other things ..

[2020-08-27 07:31] albertgpdevtrioteca commented on #102
@wize-wiz any update?

[2020-08-27 13:28] shaffe-fr opened #125 "Dependencies evaluation not consistent"
Hello,
I noticed that dependencies are not evaluated the same way in every context.
* in `NovaDependencyContainer::resolveForDisplay` the test succeed when one dependency is satisfied,
* in `NovaDependencyContainer::areDependenciesSatisfied`, the test succeed when every dependencies are satisfied.

This leads to the following behaviour:
[code]
The Image field will be displayed but not saved. In th

[2020-08-28 09:22] albertgpdevtrioteca commented on #102
Hello @dividy, @bernhardh, @wize-wiz.

After 5 days of hard fight against the bug, we have managed to solve it. The problem comes because NovaDependencyContainer within flexible overwrites the values of its fields with the value of the last one.
To solve this, what we have done is to pass to the Fleixble constructor the fields to null.
In the layout extension file we have done the following:
`

[2020-08-28 12:15] lstoyanoff commented on #117
https://nova.laravel.com/docs/3.0/resources/fields.html#dynamic-field-methods

HasDependencies trait overrides the `availableFields` method which is used to determine if there are specific fields set for the different pages (Index, Details, Create, Update).

https://github.com/epartment/nova-dependency-container/blob/master/src/HasDependencies.php#L21-L47

Maybe it is a better idea to first get th

[2020-08-31 09:06] pbogomyagkov commented on #99
same issue. any updates?

[2020-08-31 13:53] bertoloti commented on #111
+1

[2020-09-01 08:57] martijn94 commented on #102
Running into the same issue, the fixes (including the open PR) seem to fix the issue. Any ETA on a release?

[2020-09-06 23:25] BenWalters commented on #121
@wize-wiz  it's not something I can do at the moment but when we revisit this area of our application I'll see about fixing/PR'ing this (if it's not already been done).

[2020-09-07 12:30] preliot commented on #111
Is there any update about this issue? A fix would be greatly appreciated!

In my case depended field rules are mostly ignored, although not always. Underneath some exceptions that do work:

[code]

Hope this helps a bit!

[2020-09-12 00:27] martin-ro commented on #106
+1

[2020-09-15 09:11] preliot opened #127 "Bug: chained dependsOn ignores rules"
I've used this dependency container like this:

[code]
The child fields are only shown when one of the dependsOn is met. However, rules are ignored. I fixed it by creating two containers like so:

[code]
Would be nice when rules are also respected when chained dependsOn is used.

(If this is not how chaining is meant to work, please consider adding an explanation to the docs to help other.)

[2020-09-17 21:29] FrazeColder opened #128 "ID field is not being displayed (after Larave update from 6.x to 7.x and Nova 2.x to 3.x)"
Hi,

I have updated Laravel from 6.x to 7.x and Nova from 2.x to 3.x yesterday. However, since I did that the `id`s are not being displayed at the tables on Nova anymore when using `ID::make()`. Not even `ID::make('ID', 'id')`, `ID::make()->asBigInt()` or `ID::make('ID', 'id')->asBigInt()` is working and I don't know why.

This **affects** all my Nova models and not the one I am posting here. This

[2020-09-18 11:47] #128 closed

[2020-09-18 20:07] Jun-ocx opened #129 "Question about dependsOn 'AND' #question"
Simply I want to show the dependent field when there are multiple fields with values are matched the condition

Want to make Text field appeared when active 1 and active 2 toggles are switched on coincidently

Anyone knows how to implement this?

[code]

Thank you

[2020-09-21 14:13] keizah7 opened #130 "Panel is not supported"
It would be cool if package in future support Field Panels

[2020-09-22 13:17] FrazeColder opened #131 "Object of Class App\PageStatus (DateTime?) could not be converted to int"
Hi,

I am using [nova-dependency-container](https://github.com/epartment/nova-dependency-container) but get the following error `Object of Class App\PageStatus could not be converted to int`. This error appears when creating a new page/resource in Laravel Nova or when trying to view a page/resource in Laravel Nova.

However, the page/resource still gets created... but when trying to view the page/

[2020-09-22 14:55] bb140856 commented on #97
`HasDependency` trait fix te problem only if you are using one of these routes:

[code]

If you want to place any Fields which are using other routes or you developed your own Fireld with it's API this will not work. The problem is that standard Laravel method `availableFields()` which **Nova Dependency Container** is using returns JSON with describing resource's Fields and seeks them in the first

[2020-09-22 15:09] bb140856 opened #132 "Password fields are always visible in Nova Dependency Container"
`Password` Fields are visible in Detail view despite of chained method:

`->onlyOnForms()
`

The same situation is with `PasswordConfirmation` Field. See screenshot - it's Detail View.
<img width="449" alt="Screenshot 2020-09-22 at 16 36 06" src="https://user-images.githubusercontent.com/71066181/93900964-4c458400-fcf6-11ea-9892-3fba355616b9.png">

[2020-09-24 08:05] ExFredrik opened #133 "BelongsTo dependency for other than primary key"
I'm trying to create an dependancy based on a string-value from a BelongsTo-table. Is this supposed to work or are there any possible sollutions for this?

Similiar to issue: #114

Code example:
BelongsTo::make('Produkt', 'product', 'App\Nova\Product'),

 NovaDependencyContainer::make([
                Date::make('Startdatum', 'start_date')
])
->dependsOn('product.StringCollumn',  'ValueOfStringCo

[2020-10-01 16:50] Carloosolrac commented on #113
It is because `/nova/src/Http/Controllers/FieldDownloadController.php` and `/nova/src/Http/Controllers/FieldDestroyController.php` check if the field is `Downloadable` but it is `NovaDependencyContainer`

An very ugly solution is edit that files and check if is `NovaDependencyContainer` and foreach it until find a `Downloadable` field.

**I don't recommend that**, but it was a simple solution to t

[2020-10-05 19:58] alberto-bottarini opened #135 "Dependency Container in a Nested Form"
Based on this cross-package issue https://github.com/yassipad/laravel-nova-nested-form/issues/26, I created a fork of dependency-container where this problem is fixed.

It seems to working, but i would like to find someone that helps me in testing.
You can find fork here: https://github.com/alberto-bottarini/nova-dependency-container

![container-nested](https://user-images.githubusercontent.com/1

[2020-10-07 19:03] gavinhewitt opened #136 "Help text is not showing when used in actions"
Not sure if this package is meant to be used in actions but so far everything seems to work great, except for the help text that is missing.

[2020-10-09 09:24] xoco70 opened #137 "Question: Can I use it with filters ?"
Hi,

I have a need for dependent fields, and also dependents filters. Can it be used this way ? I cannot find it in documentation. Thanks !

[2020-10-10 03:27] hasnatbabur opened #138 "Suddenly stopped working - Laravel v6.18"
Was working fine earlier. Suddenly stopped working.

I have similar codes like this for link type, text type, image type:

            NovaDependencyContainer::make([
                Textarea::make('Content', 'content')->rows(1)
                    ->rules(['required'])->alwaysShow(),
            ])
            ->dependsOn('type', post_type_link())
            ->hideFromIndex(), // hide index

It

[2020-10-10 03:37] hasnatbabur commented on #138
The problem was with Enums and case sensitivity. It is fixed now. Thanks

[2020-10-10 03:37] #138 closed

[2020-10-10 20:59] hasnatbabur commented on #127
+1 & Please implement this feature. This will be huge benefit!

[2020-10-13 08:07] sash commented on #135
Can you please open a merge request! We are facing the same issue, and It would be great if the original component supports nested forms!

[2020-10-15 21:45] packytagliaferro opened #139 "dependsOnNullOrZero not working"
I have this condition set:

[code]

I can see in my database all records have `profile_id` set as `NULL` except one record but the fields show when I go to edit any record.

[2020-10-18 20:53] alberto-bottarini commented on #135
Can you help me testing the fork? I would like to propose a tested PR...

[2020-10-28 11:08] sanderbaas commented on #133
Is there any update for this?

[2020-11-06 11:16] mira-thakkar opened #141 "MorphTo inside dependsOn is not working"
Feed Resource:
[code]

Getting error like this: `Call to a member function buildMorphableQuery() on null`
Any help would be appreciated!

[2020-11-06 11:23] mira-thakkar commented on #62
@preliot i am facing this issue in nova 3.14 and package version 1.12.
Can you help me know how you fixed it?

[2020-11-06 12:26] preliot commented on #62
Could you open a new issue and give some more details?

[2020-11-06 20:28] mira-thakkar commented on #62
@preliot Sure. [Here](https://github.com/epartment/nova-dependency-container/issues/141) it is

[2020-11-12 00:00] Meteorstrikes commented on #129
Same. I need this ability, too.

[2020-11-17 03:35] asivaneswaran opened #143 "Depends on from Morph doesn't work"
I have the following code:

[code]

But the Select field doesn't show when I choose the Coach class.

[2020-11-17 03:45] #143 closed

[2020-11-18 06:38] pokono commented on #111
I have the same issue using a function as a rule. Completely ignored.

[2020-11-30 21:13] RafaelEmery commented on #130
Thanks for this issue, i was having an error due to not supporting Panels! It would be nice to have suport for Panels.

[2020-12-18 07:24] keironwaites commented on #136
Help text doesn't show in forms either.

[2020-12-19 12:01] Theograms commented on #130
A workaround I am using is to get the fields contained in the `Panel` and set them as fields for `NovaDependencyContainer` and then set that `NovaDependencyContainer` field as child in the original `Panel`. On nova form this renders the titles of the Panel but not their encapsulated fields, but when you set the dependent value the panel containing the corresponding `NovaDependencyContainer` render

[2020-12-23 19:38] 4n70w4 opened #144 "Feature: don't clean fields values between depends fields changes"
Hi! I would like to be able not to clear, but to store the values of the fields in the NovaDependencyContainer while the values in dependsOn are changed.

Currently, when dependsOn changes and returns it back, the fields are reset value to default.

[2020-12-25 13:20] 4n70w4 opened #145 "Conflicts with redeclared ActionRequest"
Hi! I redeclare `ActionRequest` in my app, but this package also redeclare `ActionRequest` and brokes all my app.

It will be very great if you don't do it inside this package, but let the user do it in application.

[2020-12-28 17:11] alberto-bottarini commented on #135
@sash I created a PR.
Please upvote

https://github.com/epartment/nova-dependency-container/pull/146

[2021-01-14 05:05] rela589n commented on #30
The same problem... Will it be fixed?

[2021-01-19 10:46] Nembie opened #147 "When updating doesn't show values / conflict with Flexible?"
I have a problem with this package, i don't know if i'm doing something wrong but when i create a resource this works great, when I update a resource the value of the options doesn't show and if I save resource i lost the data.

I use this package with [Flexible](https://github.com/whitecube/nova-flexible-content)

[code]

[2021-01-25 14:19] gustav1105 opened #148 "Nova Images not downloading from s3"
The dependency container is causing files that are uploaded to s3, to not be downloadable, when using s3 storage to upload files, it can upload successfully but when trying to download said file, the server responds with failed no file.

Not sure how to fix this or if there is a open issue for it, or a possible workaround

[2021-02-02 21:57] kevindb opened #149 "validateFields() is not compatible after updating to Nova 3.21.0"
ErrorException: Declaration of Epartment\NovaDependencyContainer\HasDependencies::validateFields() should be compatible with Laravel\Nova\Actions\Action::validateFields(Laravel\Nova\Http\Requests\ActionRequest $request).

Using Laravel Nova 3.21.0 and Nova Field Dependency Container 1.2.11. Confirmed that this error does not occur with Nova 3.20.0.

It looks like Nova's `validateFields()` now take

[2021-02-02 23:05] gmedeiros commented on #149
I am too facing this problem. I'll try to send a quick hotfix in a few minutes.

[2021-02-02 23:13] gmedeiros commented on #149
Please check PR #150
@kevindb In the meantime, you can use our branch. It is a just a quick fix, haven't tested it at all yet.

[2021-02-03 02:30] gmedeiros commented on #149
Actually, I closed the PR since it does not completely solve the issue.

[2021-02-04 05:29] rela589n opened #151 "Dependencies for arrays"
Is it possible to do something like `dependsOnContains`? When we use arrays for some fields.

[2021-02-04 13:30] Naoray opened #153 "[Question] Future of nova-dependency-container"
Based on the unanswered issues, open PRs and the lack of progress (last commit in June 2020), I'd like to know if this project will be abandoned? And if not... is there an existing plan on when we can expect some progress?

I am currently utilizing this package in a client project and want to know if I have to plan some time ahead to maintain my version of the package or if I can expect some progr

[2021-02-16 13:38] harmenjanssen commented on #147
I can confirm these packages don't go well together.
If you flip it, and wrap the `Flexible` field inside a `NovaDependencyContainer`, saving is prohibited due to an exception saying "inUseKey called on null".

[code]

Of course, the question remains if this is a problem with the Flexible package or the NovaDependencyContainer package.

[2021-02-16 21:10] ragingdave commented on #153
Although I'm not the owner specifically, I would be willing to try and work through some of the issues/PRs. I do have a full time job which takes up a large amount of my time though so it won't be overnight change. I would like to see @wize-wiz come back into this as well as I'm not really in a place to take over a package completely. I have turned on my notifications though for all activity here

[2021-02-16 21:35] ragingdave commented on #153
Also to all contributors that might see this, I'll work on updating the readme (or maybe someone can do it for me), but I think for safety sake, please do not commit any dist js/csss. This poses a security risk as no one is actually going to be reading through the dist versions to confirm it's what it should be. It's also one less step for you as a pull requester, as you don't have to add dist ass

[2021-02-16 21:48] #136 closed

[2021-02-17 02:07] #149 closed

[2021-02-17 02:21] ragingdave commented on #148
Can you elaborate on specifically how it's the dependency container that is specifically causing this as well as maybe some field setups to be able to replicate? I actually use s3 for images so I can certainly test this, just wondering if the container is the culprit

[2021-02-17 02:34] ragingdave commented on #147
If I had to guess, and this is just a guess, but I'm guessing that something about how this and Flexible are handling child fields on resolve are probably different which is causing the various issues. If someone can put together a PR to address it that'd be great. Unfortunately, I don't have a need for Flexible, so I can't exactly be much help here.

I would have one suggestion though, in the ori

[2021-02-17 02:34] #147 closed

[2021-02-17 02:38] ragingdave commented on #145
Unfortunately, this package seems to be heavily tied to overriding that ActionRequest. If you have a way around that, I'd be all ears as I'm not a huge fan of that either, but as of now it's going to have to stay this way without a pretty massive rework.

[2021-02-17 02:38] #145 closed

[2021-02-17 02:43] ragingdave commented on #139
So I'm not sure that it's not working specifically. Typically the trigger field is outside the dependency container rather than inside because having it inside means that once it's triggered to show, it can't be unshown or vice versa depending on the field value.

I'll close for now but if moving the profile ID field outside of the container doesn't work, then we can revisit the issue.

[2021-02-17 02:43] #139 closed

[2021-02-17 02:48] ragingdave commented on #144
Feel free to submit a PR to enable the functionality and we can take a look but that's not something I'm looking to tackle at the moment directly.

[2021-02-17 02:48] #144 closed

[2021-02-17 02:54] ragingdave commented on #130
I've been using the same sort of workaround to be honest, as dealing with panels delves way deep into nova core, as panels are first class objects so to speak there and have a ton of functionality associated with them.

Someone can for sure try and work up a PR if they would like, but the workaround is the way for the foreseeable future.

[2021-02-17 02:54] #130 closed

[2021-02-17 02:56] ragingdave commented on #132
Can you post your whole relevant dependency container and field configuration so that we might be able to replicate? This is a bit too vague to really work up test cases.

[2021-02-17 03:02] ragingdave commented on #103
So this ultimately wouldn't work as you need to be able to get the value to check against on the JS side, and it would need to change as the user interacts with the form, which this currently doesn't. It would seem this solution would work on initial load, but then not change. This would be akin to just using an if condition when defining the fields. we do have support for belongsTo and MorphTo as

[2021-02-17 03:02] #103 closed

[2021-02-17 05:55] harmenjanssen commented on #147
I actually fixed my issue with [this PR](https://github.com/whitecube/nova-flexible-content/pull/259) on the Flexible repo.

So for future adventurers: I'm not sure about wrapping `Flexible` _around_ `NovaDependencyContainer`, but wrapping `NovaDependencyContainer` around `Flexible` is definitely possible with the latest versions of these packages. 👍

[2021-02-17 07:32] gustav1105 commented on #148
Good morning It has been implemented using s3 see below snippet

I have this in my fields array of my nova resource

//TODO: Nova dependency container is failing cannot download video or audio assets cms
NovaDependencyContainer::make([
    //TODO: advanced image implementation is failing due to dependency container wrapping
    Image::make('Image')
        ->disk('s3')
        ->preview(function (

[2021-02-17 10:16] wize-wiz commented on #153
@ragingdave Yes, I was planning on a comeback for all the packages I've made on github, including maintaining this package. 3 weeks ago, I've quit all my current projects that has been eating up all my time since the last 2 years. I'm still in the middle of organizing everything that has been going on with the lock-down here in Germany, but I should be able to reliably plan some time for this pack

[2021-02-17 13:54] ragingdave commented on #148
It looks as though how you are looking to generate a preview isn't correct and you would need to generate the url directly.
https://nova.laravel.com/docs/3.0/resources/file-fields.html#customizing-previews

Closing as this doesn't appear to be an issue with the dependency container, but in the usage of the Image field.
Feel free to reply back if there is still an issue.

[2021-02-17 13:54] #148 closed

[2021-02-17 15:32] Nembie commented on #147
Thanks @harmenjanssen,
I'll try asap, I had to redesign the part and remove some features, I hope this will help me.

@ragingdave unfortunately what I needed is that the fields were dynamic but your idea is very good.

Thank you both, so much.

[2021-02-19 13:49] BobbyBorisov opened #155 "Can you please release new version"
Hey guys! First of all thank you for the amazing work you are doing for the Nova community!

Currently we have an issue with latest version 1.2.11 regarding ability to show helper texts. I saw it is fixed by [6d3cafee2165c34986a24925784da46216597eea](https://github.com/epartment/nova-dependency-container/commit/6d3cafee2165c34986a24925784da46216597eea) in `master`

Could you please release a new v

[2021-02-19 16:04] ragingdave commented on #155
new 1.2.12 is released

[2021-02-19 16:04] #155 closed

[2021-02-26 03:25] amanpatel commented on #113
I'm having the same problem. Shucks. Can't use this plugin because of this.

[2021-02-26 15:22] ragingdave commented on #113
If someone would like to submit a PR to try and fix this, that doesn't involve editing nova core, then I'd be open to that, but we are already pretty intrusive overriding the request. I'd like to avoid anything heavier than that if possible.

[2021-02-26 18:17] ragingdave commented on #129
I believe from a past issue, chaining dependsOn result in AND, so the code here would read:

[code]

[2021-03-01 13:44] Artexis10 opened #156 "Dependency Container fails to work inside Panel"
Having an issue using NovaDependencyContainer inside of a panel, although the same code is functional outside of it. Any thoughts on how to fix the problem?

[2021-03-01 15:02] ragingdave commented on #156
Would you be able to explain the "issue" you are experiencing actually is?

[2021-03-01 15:45] Artexis10 commented on #156
Issue is that when NovaDependencyContainer is inside a Panel, it fails to react to a field's state changing:

[code]

When I don't nest the NovaDependencyContainer, it works as intended:

[code]

Some pictures to show:

![Screenshot 2021-03-01 173807](https://user-images.githubusercontent.com/54939745/109521357-e4217800-7ab5-11eb-9519-5c2fc0c2342b.png)

![Screenshot 2021-03-01 173837](https://user

[2021-03-01 16:43] wize-wiz commented on #156
@Artexis10 Are you using the master or the development branch? Which version of Nova are you using?

[2021-03-01 16:51] Artexis10 commented on #156
I'm using the master branch, version 1.2, and Nova 3.0.

[2021-03-04 19:24] JshGrn commented on #115
Interesting, I am having an issue which I think is probably related, I am using the Images field from https://github.com/ebess/advanced-nova-media-library, the field works and uploads fine but when used within the container the form submits but doesn't save/update, I suspect something similar is happening under the hood perhaps?

Works:
![image](https://user-images.githubusercontent.com/75624794/1

[2021-03-10 08:31] Algeneralo commented on #96
@wize-wiz any updates regarding this issue?
@DODMax

[2021-03-12 17:16] LoganTFox commented on #111
I have this issue too. Validation rules inside the dependency container get ignored.

[2021-03-12 17:49] LoganTFox commented on #15
Same here. Validation not working inside dependency container.

[2021-03-12 17:59] ragingdave commented on #15
Can you show your resource code to try and replicate the issue, because it does appear to be working correctly from my utilization

[2021-03-12 18:01] ragingdave commented on #111
Just so we can actually attack the right problem, are you saying that rules as a whole aren't working, or just certain rules aren't working. Additionally, can you show your resource code, and confirm that you are using the traits that would enable validation?

[2021-03-12 19:17] LoganTFox commented on #111
The red asterisk displays properly but I don't get any error message and I can submit the form just fine even if I leave the required fields blank.

[code]

<img width="967" alt="Screen Shot 2021-03-12 at 1 16 06 PM" src="https://user-images.githubusercontent.com/31284288/110987714-1c864900-8335-11eb-827e-fac9d4e84055.png">

[2021-03-13 20:14] ragingdave commented on #111
Can you also elaborate on the dependent field also looks like? The category, just I can replicate your example completely

[2021-03-15 13:28] potreco commented on #99
Any updates?

[2021-03-17 19:10] ragingdave commented on #99
Can you provide the stacktrace around the error? I'm looking to try and fast track a fix for this, but I don't have a working setup so I that would be helpful

[2021-03-17 20:37] potreco commented on #99
The error occurs when you try to edit some resource. If you are using the enum value `ContactType::Student` on dependency check, give a error `Enum cannot be converted to int`, but if uses the enum function `ContactType::Student()`, works properly, at least for me.

What i see, is the DependencyContainer is triyng to convert an object to integer when is passed a integer (or string) value to him, i

[2021-03-17 20:54] ragingdave commented on #99
cool would gladly appreciate the PR @potreco!

[2021-03-18 10:35] Tarpsvo commented on #156
This was an issue with Nova Page Manager, not panels or dependency container.

Fixed in page manager version 3.3.0. The issue can be closed.

[2021-03-18 13:56] Artexis10 commented on #156
Issue is still present, even with Nova Page Manager version 3.3.0.

[2021-03-24 13:24] jp-gauthier opened #159 "Can't use fieldsForIndex / fieldsForDetail / fieldsForCreate / fieldsForUpdate"
Hi, when I use this package, I can't use functions like `fieldsForIndex / fieldsForDetail / fieldsForCreate / fieldsForUpdate` in my Nova resource.

The method `HasDependencies.php : availableFields` seems to override the Nova `ResolvesFields.php : availableFields`.

When I comment your `availableFields` method, it works normally.

Please correct or suggest a workaround. Thanks.

[2021-03-25 00:32] ragingdave commented on #159
The workaround would likely just be to try and use different dependency containers for each, and restrict those. I haven't tested that specifically but that could work. Also feel free to submit a PR with a solution if you have one that works well.

[2021-03-25 06:04] bkintanar opened #160 "Feature Request: Ability to put an entire panel inside the DependencyContainer"
I have an entire panel that its fields are all dependent to a boolean field. I want to add the entire panel inside the container so that the panel name will be hidden too, if I only add all the fields inside the panel to the container, I'm left with an empty panel with a name.

[2021-03-25 23:55] nikans opened #161 "`dependsOnNotEmpty` doesn't work"
[code]

[2021-03-26 02:40] ragingdave commented on #161
It looks like you aren't using this correctly. See the docs here: https://github.com/epartment/nova-dependency-container#belongsto-dependency

[2021-03-26 02:40] #161 closed

[2021-03-27 19:29] nikans commented on #161
@ragingdave I literally use it just as stated in the docs. `dependsOn` works, `dependsOnEmpty` works, `dependsOnNotEmpty` doesn't work.

[2021-03-27 22:38] dkulyk commented on #161
This is a bug.
[code]

getFieldLayout always adds `value`.

```if (dependency.hasOwnProperty('notEmpty') && dependencyValue) ```  not passed and next
```if (dependency.hasOwnProperty('value') && dependencyValue == dependency.value)``` passed because both values is null.

no need to add value if dependency do not use it? Or need update checking like
[code]
I used this for notEmpty:
[code]
This work

[2021-03-27 23:24] nikans commented on #161
@dkulyk Thanks.

[2021-03-28 01:00] mbrown3116 opened #163 "Usage Guidance"
Disclaimer: I'm not a programmer, so pardon my lack of knowledge and proper verbiage.

If I use something like

`            NovaDependencyContainer::make([
                Text::make('depfield')
              ])
              ->dependsOn('is_sample', 1),`

It works as expected. However the below snippet doesn't work.

`            NovaDependencyContainer::make([
                Text::make('depfie

[2021-03-28 02:03] mbrown3116 commented on #163
I was able to simply remove the relationship on my resource / model which allowed me to make a select field with options mapped out, for example: `'1' => 'Consumable Multiple Use',` I can now use the package without issue. I though I could target the value being presented to the database as a string, but it appears to only work with a numeric value.

[2021-03-28 02:03] #163 closed

[2021-03-28 19:04] OfficialMOODi commented on #160
I second this

[2021-03-28 20:46] dkulyk commented on #160
This is imposible. Container is a field. Field cannot contain panels.

[2021-03-29 00:29] emjayess commented on #160
I was looking to achieve something like this also. Since the panel will always be visible, I ended up sticking in a `Heading` field with instruction...

[code]

[code]

[2021-03-29 04:58] OfficialMOODi commented on #160
Other way around, container inside of a panel.

The panel doesn't register as empty when there is a container within it, however according to the nova docs panels are only hidden when they are empty.

[2021-03-29 11:59] dkulyk commented on #160
The panel have container(as field).

[2021-03-29 17:45] NoahNxT opened #164 "Support for BooleanGroup"
I've tried to work with a Boolean Group because it works kinda the same way as a select. But for some reason I can't get it working. What could be the issue? Or is boolean group not supported?

[code]

[2021-03-29 18:35] ragingdave commented on #164
This is currently unsupported (but would welcome a PR to support it), as from your example, you are missing a key point of what the value of the BooleanGroup option should be if it were to work.
IE.
[code]
I'm not saying this example works, only that it would be the "correct" way it would if it did for PR guidance purposes.

[2021-03-30 09:46] NoahNxT commented on #164
unfortunately my coding skills are not advanced enough to search trough your code, also I'm sitting with the question if there is a support for the **_OptimistDigital\MultiselectField\Multiselect_** package.

[2021-03-30 23:44] Blindmikey commented on #102
I'm getting the same issue I believe, though the error message nova throws is now `Attempt to read property "override" on array`

[2021-03-31 01:19] Blindmikey commented on #102
Resolved with @albertgpdevtrioteca 's suggestion combined with @Paradiddley 's
And a typecast of the array to an object with
[code]

[2021-03-31 18:36] emjayess commented on #129
I expected 'AND' behavior from chaining together two or more (`->dependsOn($f1, $v1)/*AND*/->dependsOn($f2, $v2)`), however the behavior I am observing when I attempt this is evidently OR behavior. 😕

It might be appreciated to adopt the conventions of Eloquent / Laravel's DB query builder method chaining, in which `->where()->where()` implies AND and `->where()->orWhere()` is explicitly OR.

[2021-03-31 18:39] emjayess commented on #127
See also: #129

[2021-03-31 19:02] ragingdave commented on #127
Feel free to submit a PR to address. From the code it appears on the backend we respect both dependencies in an AND fashion, but the frontend doesn't handle it the same way, potentially resulting in the issue.

[2021-03-31 19:04] ragingdave commented on #129
127 explains the issue better for this, closing this issue.

[2021-03-31 19:04] #129 closed

[2021-04-02 15:02] bmbBAMBUS opened #166 "Updating Resource deletes it"
I can create my resource and everything works as expected, but when I try to edit it, whole resource is being deleted. I get prompted that my resource was was updated and I'am moved to nova/404 page.

[code]

[2021-04-02 15:19] ragingdave commented on #166
I can say with a very large amount of certainty, that the dependency container isn't to blame here, as no where in the code do we call a delete on the resource. I would suggest looking into your app for observers/subscribers/etc for the root cause. If it's still an issue and it's been narrowed down to the container itself (by conclusively determining that only with a dependency container does the

[2021-04-02 15:19] #166 closed

[2021-04-08 13:43] jp-gauthier commented on #159
@ragingdave Hello, hmm I'm not sure how to do that. Is it possible without changing the code in your package ?

[2021-04-08 13:46] ragingdave commented on #159
Yes. Not a great workaround, but quite literally duplicate the dependency Container  and add on the nova methods to show them specifically when you want them. https://nova.laravel.com/docs/3.0/resources/fields.html#showing-hiding-fields This would be added to only the container field itself, and not the array of fields passed.

It's basically redefining the fields multiple times, but the visibilit

[2021-04-08 13:49] jp-gauthier commented on #159
Ok nice, I'll test it out !

[2021-04-13 16:02] swilla opened #167 "DependsOn not triggering with polymorphic when creating a resource from the relationship page"
Steps to replicate:
* Setup polymorphic relationship such as Documents.
* Setup a folder resource that relates to documents.
* Setup a field that depends on the polymorphic relationship.
* If you create a document from the Folder resource
* The dependant fields do not evaluate.

It seems that when the dropdown changes the dependency is evaluated,  but when you create through a resource those field

[2021-04-13 18:23] swilla commented on #167
I changed it to a `dependsOnNot()`, and it works for our purposes.

![image](https://user-images.githubusercontent.com/304159/114601381-71362000-9c63-11eb-8bfc-62f2f7ac7e59.png)

[2021-04-13 18:23] #167 closed

[2021-04-15 11:44] LoganTFox commented on #111
It's just a simple belongs to
`BelongsTo::make('Product Type', 'category', ProductCategory::class)`

[2021-04-16 16:20] LoganTFox commented on #111
@ragingdave have you been able to identify this bug?

[2021-04-16 16:21] ragingdave commented on #111
I haven't had a chance to get too deep since yesterday. I'll try and look into this sometime next week.

[2021-04-16 16:23] LoganTFox commented on #111
Thank you. I appreciate it 🙂

[2021-05-04 06:10] anditsung commented on #159
i try to update HasDependencies and it was working fine on mine.

what i change

[code]

to
[code]

[2021-05-04 10:59] albertgpdev opened #169 "BUG: Compatibility with fieldsForIndex, fieldsForDetail functions on Nova 3.X"
Hi I am experiencing some issues with the Nova 3.X fieldsForIndex, fieldsForDetail functions and looking in the code, I have found that the problem is due to this function where I think these two lines are missing to be compatible with those functions

[code]

The function should look like this:
[code]

Best,

[2021-05-05 07:46] LennartHengstmengel commented on #141
I encountered this issue too, with package version 1.3.2 and Nova version 3.22.0. It also happens with other Relatable fields like a BelongsTo field inside a NovaDependencyContainer, there I get an error `Trying to get property 'resourceClass' of non-object`.

I debugged the issue and it looks to be caused by the way Nova finds the Relatable field in `Laravel\Nova\Http\Controllers\AssociatableCont

[2021-05-05 16:02] jp-gauthier commented on #159
@anditsung Nice, it works! I just saw someone made a pull request yesterday with this fix : #170

@ragingdave Can you merge the pull request so it can be included in the next version? Thanks

[2021-05-05 16:05] jp-gauthier commented on #169
Solved by this pull request : #170

[2021-05-05 16:05] jp-gauthier commented on #117
Solved by this pull request : #170

[2021-05-05 16:09] ragingdave commented on #169
merged #170

[2021-05-07 19:28] sash opened #172 "When using route:cache the action route is not overriden"
/nova-api/{resource}/action is overriden in FieldServiceProvider
[code]

That does not have any effect when you use `./artisan route:cache`, that route is not overridden, and therefore the unrequited dependencies are not removed from the validation!

Please advice!

[2021-05-13 16:29] ragingdave commented on #172
Great catch on this, I've got a fix that should address it committed onto master. If you don't mind just giving it a shot to confirm the fix, we can tag a new release.
https://github.com/epartment/nova-dependency-container/commit/58e75c710e5312b6e3e319132e4b4ff434822c5e

[2021-05-13 18:23] sash commented on #172
Thanks. I'll give it a try tomorrow and I'll let you know

[2021-05-14 12:44] Barbacraft commented on #125
I`ve been having the same problems, any solutions found?

[2021-05-15 06:47] sash commented on #172
I checked and this solution indeed fixes it! Thanks! Looking forward to your next release!

[2021-05-15 06:47] #172 closed

[2021-05-17 09:23] shaffe-fr commented on #125
I refactored the organization to avoid adding several `dependsOn` :(

[2021-05-21 09:07] madsem opened #175 "Question: get selected value?"
Thanks a lot for this package! :)

I'm trying to configure a Model that can have various types and sub-types.
In the Ui when  a user selects the sub-type, I'd like to show field names based on the sub-type.

In this case API connection details for various API integrations, where users can enter their own details like `api_token` or other required parameters that can of course differ between integr

[2021-05-25 08:24] msouto346 commented on #111
In my case, when I have multiple containers the only rule applied is the rule of the first container and all the others are ignored.

[2021-05-26 07:48] mira-thakkar commented on #115
@Hujairi you got any fix on this?

[2021-05-26 07:52] Hujairi commented on #115
@mira-thakkar nope, not yet. I ditched the package. Will try it again later on

[2021-05-26 07:58] mira-thakkar commented on #115
@Hujairi Thanks for replying!

[2021-06-16 14:50] BinaryKitten commented on #169
Hi Team,

Is there any chance that this can be pushed to a release? - i see the bug fix has been merged to master, but no subsequent release or tag made so packagist hasn't updated.

Would be appreciative if we could?
Thanks

[2021-06-16 16:25] ragingdave commented on #169
Tagged v1.3.3!

[2021-06-16 16:25] #169 closed

[2021-06-16 19:59] BinaryKitten commented on #159
Thanks Team,

The PR #170 was merged and as of today released as [v1.3.3](https://github.com/epartment/nova-dependency-container/releases/tag/1.3.3) as noted on #169

[2021-06-16 20:07] #117 closed

[2021-06-16 20:07] #159 closed

[2021-06-22 07:58] jeroenInova commented on #114
No update for this issue? I'm also facing this problem... Like @cord mentioned, only the `id` works. You can also use `post` that will work or even a non-existing column, like `post.thisisatest`, alle these columns only check the BelongsTo id...

@ragingdave Is this a short term fix? If so, this is the perfect package for me! If not then this package isn't working for me..

[2021-06-22 12:42] ragingdave commented on #114
In looking into the nova js for the BelongsTo field, it seems that the reason for even specifying the key of the relation to check against is more for the php side than the js side. It looks as though even though the JS side would get enough information to populate the dropdown, the only thing available would be the id. So specifying the key is to ensure that the php side checks the right key more

[2021-06-28 20:10] leadbox-ryan commented on #117
I think i found the source of my new bug.

Call to undefined method App\Nova\___::fieldsMethod()

[2021-06-28 20:19] theianjohnson opened #176 "Nova 3 support?"
Are there any plans for Laravel 8/Nova 3 support?

[2021-06-28 23:56] BinaryKitten commented on #117
Please make sure you're running up to date nova.
or refer to readme for version limitation

[2021-06-28 23:57] BinaryKitten commented on #176
this works on the combination.
the readme specifies version limitations for older combinations

[2021-06-29 00:28] theianjohnson commented on #176
Oh fantastic, for anyone else that didn't get that from the readme, at least my simple use case works on Laravel 8.12 & Nova 3.22.0

[2021-06-29 00:28] #176 closed

[2021-06-29 01:09] jayvs6341 opened #177 "Dont work when we set field as required"
$res[] = NovaDependencyContainer::make([
            File::make('Upload Apk','package')
            ->acceptedTypes('.apk')
            ->deletable(false)
            ->creationRules('required')
            ->updateRules('required')

        ])->dependsOn('type', 'android')->onlyOnForms()->creationRules('required')->updateRules('required');

[2021-06-29 01:27] jayvs6341 opened #178 "Dont work with multiple Levels"
$res[] = Select::make('Status')->rules('required')->options([
            '1' => 'Active',
            '0' => 'Inactive',
        ])->displayUsingLabels()->hideFromIndex();

 $res[] = NovaDependencyContainer::make([
            Select::make('Select All Devices','is_all')->rules('required')
            ->options([
                '1' => 'No',
                '0' => 'Yes (Application will not be vis

[2021-06-29 12:53] ragingdave commented on #178
This is going to need some more info to know what exactly isn't working here, as I can't really make any sense out of what you have here. Specifically if you can give a little background on what you are expecting vs what is happening that'd be ideal.

[2021-06-29 12:55] ragingdave commented on #177
This needs more information for me to investigate anything. The immediate thing I see is that you are using rules on the dependency container directly which isn't how that works. Regardless, you will need to expand what the issue is beyond just a code snippet.

[2021-06-29 13:19] leadbox-ryan commented on #117
Thanks. I'm on Nova ^2.0 so that's what it was.

I'm really appreciative I found this post with the version. I switched this from ^1.2 to a hard 1.3.2 and it works fine — and will probably work fine until I finish the update process to L8 N3.

[2021-06-30 02:10] jayvs6341 commented on #178
For instance,
There are three controls.
A->B->C
B is dependent on A and C is on B.
If I change in A value, it should update B ( That is working ). and If I change in value of B, it should reflect to C.(This is not working).

[2021-06-30 02:31] jayvs6341 commented on #177
In this, even though , the filed is required, the user can submit the form without setting the value. The validation is not working.
This is happening with File Field and Select Filed.

Validations works in Text Field.

[2021-07-01 17:21] celeEtionic commented on #177
Hi! the same problem here, this works for me:

File::make('Upload Apk','package')
    ->rules('required')

[2021-07-03 11:22] midorikocak commented on #133
Looking for this.

[2021-07-03 18:40] midorikocak commented on #153
following

[2021-07-05 12:25] pheadeaux commented on #32
bump

[2021-07-11 23:03] stefblokdijk commented on #169
I noticed that this #170 resulted in the following error
[code]

I recently upgrade from 1.3.2 to 1.3.3. I'm using Nova version 2.12.2

[2021-07-12 10:29] BinaryKitten commented on #169
yeah this was a deliberate patch for Nova 3 -
not sure on what @ragingdave thinks, but you can limit your inclusion of this in your composer.json to 1.3.2 it will prevent the error.

[2021-07-13 07:55] ahmedqaid commented on #151
Did you find another way to implement this? @rela589n

[2021-07-13 14:46] ragingdave commented on #32
I'm with wize-wiz, there's not a good fix, as this would require the NovaDependencyContainer to act as both a panel and field, which wouldn't work all that well without alot of edge case handling

[2021-07-17 20:50] #121 closed

[2021-07-17 21:05] ragingdave commented on #156
After testing this it appears to be working as expected.

Example code confirmed working:
[code]

When I toggle the boolean field, the fields in the container are properly hidden/shown accordingly.

Using:
[code]

[2021-07-17 21:05] #156 closed

[2021-07-18 08:29] #164 closed

[2021-07-29 18:53] anubhav217 opened #186 "add NestedForm"

[2021-08-02 10:23] warksit opened #187 "Can't work out how to depend on a File field"
I would like to show some fields once a file has been selected to be uploaded (or previously uploaded).

[code]

Have also tried -`>dependsOnNullOrZero('payroll_payment_summary')`.

Is what I am trying achievable?

[2021-08-09 16:30] vFire commented on #92
Me too...

[2021-08-15 13:25] danielfaulknor commented on #101
I get a 409 with a HasMany inside the container, unless I use the hack mentioned above but the layout is not quite right. Nova 3.28.0 and Laravel 8.54

[2021-08-16 11:36] abensoukehal commented on #92
@wize-wiz any update please ?

[2021-08-16 11:49] vFire commented on #92
Finally, I know why it can't support showOnIndex, if it did, there will be different number or the table column and in the same col, there will be different field and value.
So ,we can easily add another computed fields and show it on index only.

[2021-08-16 14:05] Peterragheb commented on #111
Any news on this issue?

[2021-08-16 16:03] Peterragheb commented on #111
For anyone who is facing this issue:
I'm currently using version 1.3.3 and validation is not working to get it to work I had to:
1. Extend the `NovaDependencyContainer` class and override the `getSituationalRulesSet` like the following:
[code]
2. I had to add custom rules to the fields. For example in my case I wanted to require a field on condition that another equals to a certain ID
[code]
TIP:

[2021-08-19 08:37] goromachine commented on #92
could you please show us an example of what you are saying, @vFire ? I would like to show on the index the field I'm filling inside a NovaDependencyContainer.

Thanks

[2021-08-24 12:39] abensoukehal commented on #92
(Workaround while waiting for the PR) You can do that by duplicate the field you want to show and smake it show only on index (`->onlyOnIndex`),
[code]

[code]

[code]

[2021-08-24 18:11] lisotton opened #188 "Not possible to set BelongsTo as searchable inside of dependency container"
Hello,

I was trying to use a `BelongsTo` field, with `searchable` inside of a `NovaDependencyContainer`, but when creating a new record, the request to load the items when searching returns a 404.

It happens because the method `areDependenciesSatisfied` from `HasDependencies` trait returns returns `false`. The `$request` in that case is empty, containing only the parameters for the search, so it

[2021-08-25 07:22] goromachine commented on #92
@abensoukehal thank you!

Another question: In case of wanting to show the select 'offset interval' too, I should add it outside the NovaDependencyContainer with the same options right? If that is true, is there any way of not duplicating the options to show them on both sides?in my case the options are something like `'CP' => 'Coupe', 'OR' => 'OffRoad'` and many more.

Thanks!

[2021-08-25 09:56] abensoukehal commented on #92
Yes, unfortunately @goromachine, you have to duplicate outside `NovaDependencyContainer` all the fields you want to show on the index view, and of course, make them show onlyOnIndex().

@wize-wiz any update ?

[2021-09-03 10:19] AbdLateef commented on #111
I want to give custom validation / error message
I have a custom rule with a custom message. But it does not work

`NovaDependencyContainer::make([
                Select::make('Select Dsc', 'DSC_NAME')->options( $options )->rules('required',  new MyCustomRule())
 ])`

 Below is the class MyCustomRule

    /**
     * Create a new rule instance.
     *
     * @return void
     */
    public functio

[2021-09-04 10:50] madsem commented on #188
I have the same/similar issue, when I duplicated the belongsto field outside the nova dependency container closure, it started to work again and I was able to select the relationship from the dropdown.

It was working without this before, I recently upgraded Nova to latest version, something must've changed there.

[2021-09-08 20:10] ibrahem-kamal commented on #141
@wize-wiz i can confirm that this issue exists with nova 3 also with belongs to relation , the solution provided by  @LennartHengstmengel  is working but it makes the code missy , can u please look into this , thanks

[2021-09-25 12:36] RhysLees commented on #143
Why was this closed?
I have the same issue @asivaneswaran did you figure out how to do it?
if so, could you share?

thanks

[2021-09-25 13:06] RhysLees opened #190 "Depends on not working when creating through parent"
I have Calls that belongs to the Client.

If I create via Calls resource then Depends works fine but if I create a Call via Client then the Depends field keeps the field hidden no matter what. I think this has to do with the fact the client field is read-only when you create via Client

[2021-09-25 13:12] RhysLees commented on #190
Just edited the HTML of the page and removed the disabled attribute and nothing happened, but when I changed the client and changed it back it seemed to works maybe it is an issue with initial validation?

[2021-10-04 09:15] Lezhni commented on #98
Thanks!

[2021-10-19 03:52] Monomachus commented on #178
@ragingdave what you need is to indicate the dependencies on the same level

Basically something like this

`

BelongsTo::make('Tenant', 'tenant', \App\Nova\Tenant::class)
  ->nullable()
  ->searchable()
  ->sortable()
  ->onlyOnForms(),

NovaDependencyContainer::make([
                BelongsTo::make('Room', 'room', \App\Nova\Room::class)
                    ->withoutTrashed()

[2021-11-08 15:49] aliwesome commented on #40
I'm facing same issue. does anybody have a solution for this?

[2021-11-10 22:22] timkerr222 opened #191 "Pseudo Field Elements"
I was wondering if it was possible to make a dependency container dependOn a "pseudo-field element". IE lets say, I just want to use the dependency container based on a response, say a boolean check box, but not have that boolean check box actually fillable or defined on my model?

[2021-11-16 09:36] cord commented on #153
following

[2021-11-16 09:36] cord commented on #153
https://github.com/epartment/nova-dependency-container/issues/188 is a showstopper

[2021-11-17 18:39] Waterdhavian opened #192 "Nova Trix Field"
When i wrap a nova trix field with this dependency container, then i cannot attach files or drag files in. They are shown in the editor but gone when i save them. Also the nova_pending_trix_attachements is not filled.

If i however moved the trix field outside of the dependency container then it starts to work again and images get saved.
so i know that this plugin is causing the issue.

Anyone kno

[2021-11-17 22:17] #153 closed

[2021-11-18 18:12] daugaard47 opened #193 "Use BelongsTo inside NovaDependencyContainer"
**1. If I do this:**
[code]
This works.

**2. If I add  `BelongsTo::make('Country', 'country'),` Inside the `NovaDependencyContainer` This Does Not Work:**
[code]
The Country list in empty.

If I move `BelongsTo::make('Country', 'country'),` outside of the `NovaDependencyContainer` the Country list is populated.

Is there a way to get option 2 to work?

[2021-12-13 15:55] daanadriaan commented on #151
Just created ->dependsOnIn('field', ['value', 'value2'])

Pull request: https://github.com/epartment/nova-dependency-container/pull/194

Or use my fork: https://github.com/daanadriaan/nova-dependency-container

[2021-12-14 08:03] h-zone opened #195 "Abandoned ?"
So many useful PRs !
Many bugs is not solved...
May be fork and make a community ?

[2022-01-05 09:07] keizah7 opened #198 "BelongsToMany attach"
Using dependency container in `belongsToMany`  attach, breaks the query with empty column:

<img width="1871" alt="image" src="https://user-images.githubusercontent.com/49227202/148190772-a6369d32-d3d1-40f2-bb39-b93c886c7c3c.png">

[code]

[2022-01-12 13:02] arlon23 commented on #141
I used the same idea from @vazaha-nl but i used the MorphTo field and worked

`            NovaDependencyContainer::make([
                MorphTo::make(__('Content'), 'contentable')
                    ->hideWhenUpdating()
                    ->searchable()
                    ->types([
                        Course::class,
                        Plan::class
                    ]),

[2022-01-13 11:29] martijnimhoff commented on #195
Seems like it. A good fork would be appreciated!

[2022-01-30 16:00] smskin commented on #135
The maintainer ignored PR too long. Code in pr 146 has conflicts. I fixed conflicts in PR 202 (https://github.com/epartment/nova-dependency-container/pull/202). Pls upvote

[2022-02-09 10:54] MarcosGit commented on #193
Hi, daugaard47

You can change the BelongsTo to normal select and make your query:

Select::make('Type')->options(function () {
    return array_filter(Element::pluck('name', 'id')->toArray());
}),

[2022-03-02 19:41] cwilby commented on #133
If the PR above is merged, you'll soon be able to reference BelongsTo fields like so:

[code]

[2022-03-25 01:36] suleymanozev commented on #195
Use this
[dcasia/conditional-container](https://github.com/dcasia/conditional-container)

[2022-04-05 20:56] mahmoudsharf-eldin opened #204 "using belongs to selection inside the container"
I have a dynamic container which fields come from function depending on the selection from belongs to field,
how could i use this selection inside container and pass it to function ?

[code]

[2022-04-07 05:59] pemudakoding opened #205 "Nova Dependency Container Broke Readonly field"
I'd tried using Nova Dependency for the readOnly field, on my case, I want to show the field where the file isn't associated with the database columns so just need them only for external information. But Nova Dependency still executed them and tryin' to store or update to the database.

Current Code
![image](https://user-images.githubusercontent.com/62993054/162129672-0daef757-ff31-4b14-aee8-7df00

[2022-04-14 11:41] jaros93 opened #206 "Nova 4 support"
Added Nova 4 compatibility.

[2022-04-21 01:14] GarethSomers commented on #206
Hi @jaros93 are you asking for the developers to "Add Nova 4 compatibility"?

"Added" is past tense and implies you've done this already.

---

In any case Nova 4 adds native support for [Dependant Fields](https://nova.laravel.com/docs/4.0/resources/fields.html#dependent-fields).

I wonder if anyone can comment on the native functionality vs that of this package? And whether this package is still

[2022-04-22 06:02] wamesro commented on #206
It's not exactly the same

This convenient notation is not possible
[code]

It is not possible to use it
- https://nova.laravel.com/docs/4.0/resources/fields.html#field-panels
- https://nova.laravel.com/docs/4.0/resources/fields.html#stack-field

It is necessary to set a condition for each field

[2022-05-01 22:13] NoahNxT commented on #195
Some new contributers have been assigned to get this package back up and running and well maintained. Expect the upcoming days/weeks some movements and update/pr merges! @h-zone @martijnimhoff @suleymanozev

[2022-05-01 22:31] NoahNxT commented on #206
@GarethSomers The new dependent functionality works very well in Nova 4, but there are some main issues which made me choose for this package still:

1.  Not all fields are supported for the dependent functionality, for example the Markdown field (which isn't even mentioned in the docs) https://nova.laravel.com/docs/4.0/resources/fields.html#dependent-fields

2. Also the key difference is that the

[2022-05-01 22:32] NoahNxT commented on #206
Nova 4 support will be there in the future, but not yet. But surely feel free to open a PR and we'll check it as fast as possible!

[2022-05-01 22:42] NoahNxT commented on #205
@pemudakoding Could you try this? Because if you won't pass a function on the second parameter of a field it will indeed try to post it in the database, this is not an issue of Dependency container. Hopefully this helps!

[code]

[2022-05-02 12:47] meyer59 commented on #206
Also (it seems ridiculous) but Laravel nova dependent functionality doesnt work on Action. check this https://github.com/laravel/nova-issues/issues/3897

[2022-05-09 05:27] wamesro commented on #206
https://novapackages.com/packages/alexwenzel/nova-dependency-container

[2022-05-12 16:23] internetbug256 commented on #206
Hi from Argentina. Also suffering from Nova 4.0 "enhancements" and plugins compatibility. I have some projects where I had to leave them at Nova 3 due to the amount of plugins not working in the new version.
Piece of advice: let's start learning how to build our own plugins. Can't depend on this kind of issues.

[2022-05-13 06:57] preliot opened #207 "Docs: MorphTo, singularLabel and dependency container"
Suggestion for improvement of documentation for [MorphTo field](https://github.com/epartment/nova-dependency-container#morphto-dependency):

If you want to depend on morphTo and use singularLabel() on your Nova resources, the dependency won't work if you follow documentation. The solution is you must depend on the singular label (and not the Model/Class name).

Example:

[code]

[2022-05-15 17:43] mehrancodes commented on #206
Just tried to find a solution this weekend and got failed. in the first step we need to upgrade to Vue 3. since it is trying to get all of the components list via `this.$root.$children` which doesn't exists in Vue 3. this is where the issue happens

[2022-05-15 20:06] NoahNxT commented on #206
@mehrancodes indeed, we'll have to upgrade to Vue 3. Haven't got the time yet to take a look at it but feel free to open a PR 😇

[2022-05-16 09:55] mehrancodes commented on #206
@NoahNxT Yes true, and UNF it needs a deep understanding of Vue 3. I believe the easier way would be to start the frontend side from zero since in Vue 3 we have composition API and the things can be done different than Vue 2

[2022-05-16 23:13] raul3k commented on #111
Any update on this issue?
Is anyone could provied validation to children elements of NovaDependencyContainer?

[2022-05-17 06:08] preliot commented on #111
An easy fix is to set the rules (and visible methods for that matter) on the NovaDependencyContainer. Then they will work.

[2022-05-17 17:19] raul3k commented on #111
Still not being validated.

`NovaDependencyContainer::make([
Link::make('Link', 'link')
                ->text("Link")
                ->rules('required')
                ->blank()
])->dependsOn('present', App::PRESENT);`

Thats one of the exemples that doesnt work

[2022-05-18 04:19] hasnat-we commented on #111
@raul3k When I used ->rules(['required']), notice the array syntax then it worked for me.

[2022-05-18 14:17] raul3k commented on #111
@hasnat-we Still doesnt work for me.
I don't know if it influences, but i have this dependency tree:

[code]

[2022-05-18 15:57] preliot commented on #111
Unfortunatly this package is buggy and lacks support. This won't work. This might:

[code]

[2022-05-18 19:30] raul3k commented on #111
@preliot Tks, i managed to validate the field now.
I had to rewrite the whole form to make it work.
Thanks for the help

[2022-05-18 22:59] dmason30 commented on #206
There is a Nova 4 compatible fork here, not sure why they never created a PR for you guys but perhaps someone could take inspiration from it:

https://github.com/alexwenzel/nova-dependency-container

[2022-05-19 12:20] NoahNxT commented on #206
@dmason30 thanks for the info! We will try to take a look ASAP.

[2022-05-19 12:47] mehrancodes commented on #206
@NoahNxT I also did a deep look at the Nova source code just noticed we can get rid of most of the complex parts by using events! for example the watchers registration, etc... Also tested it out quickly and it did work!

For now I would go with the above PR since we need it on prod but would make a PR soon for the event driven solution

[2022-05-21 19:40] ahmada3mar commented on #115
to anyone comes here , just make the image field on the bottom ( last item on array ) . it's work for me after 5 hours of debugging .
![image](https://user-images.githubusercontent.com/71763607/169666772-c0099ea1-f84b-4dc9-acba-40c3f95b63f9.png)

[2022-05-28 21:31] Pamposgsk opened #208 "Laravel Nova Excel is not working if you install this package"
While trying to run laravel nova excel export I'm getting error after installing this package
thanks
![9D192A63-9AF7-42FD-A2E7-A14B445F07EE](https://user-images.githubusercontent.com/8403769/170843457-9aa8f20d-d8e5-44a5-a36e-efe34d4eceac.jpeg)

[2022-06-07 00:11] jaxramus commented on #206
+1 im still reaching for this package over nova 4 `dependsOn` a lot of the time

will use the fork posted in the replies for now.

[2022-07-14 09:57] samdharris commented on #206
Hi There

I'm looking at upgrading this to Nova 4 and the main issue is the [retirement of the `$children` property in Vue 3](https://v3-migration.vuejs.org/breaking-changes/children.html#children) so without direct access the child component instances, it's kinda difficult for this package to function :(

[2022-07-14 10:00] dmason30 commented on #206
@samdharris You can see how this fork got around this here

https://github.com/alexwenzel/nova-dependency-container/blob/4f4d3756f6d3f6d37ae577841c919d8576340f28/resources/js/components/FormField.vue#L46

[2022-07-14 10:06] dmason30 commented on #206
Nova 4 now supports dependent fields in actions!

[2022-07-14 13:28] NoahNxT commented on #206
@mehrancodes Did you finished your PR?

[2022-08-08 17:00] ikramooe opened #209 "NOT WORKING WITH FLEXIBLE CONTENT"
when i use this package inside  nova flexible content  i get the error " attempt to read property on array" in the view page
how can i solve this
it's really urgent

[2022-08-23 14:55] mathieufrh commented on #133
As a workaround I have made a change to allow using array as `dependsOn` value. And I use it to bypass this issue like so:

[code]

Check this release : https://github.com/mathieufrh/nova-dependency-container/releases/tag/1.3.6

[2022-08-29 10:18] alberto-bottarini commented on #195
Use the native implementation: https://nova.laravel.com/docs/4.0/resources/fields.html#dependent-fields

[2022-08-31 01:50] raul3k commented on #195
You can see in other issue here, it's not the same thing actually

[2022-08-31 15:09] Sohail-purelogics opened #211 "Dependency Container not working with BooleanGroup on nova 3"
I'm trying to make it work with BooleanGroup but it is not working with BooleanGroup on nova 3

[2022-08-31 15:52] Sohail-purelogics commented on #164
Any solution here?

[2022-10-04 08:17] jangaraev opened #212 "BelongsTo field doesn't work with dependsOnNotEmpty()"
Laravel: v8.83.23
Nova: v3.32.0
Package: v1.3.3

This code doesn't work:

[code]

The Ends At field is always shown in this case, it doesn't react on changes of Plan field.

PS. if I change it to `dependsOnNotEmpty()` then it works fine (obviously this isn't what I want), dependent fields get hidden if I select any Plan.

[2022-11-29 08:19] namnh06 commented on #208
got the same error today, laravel nova 4.0

[2022-11-30 00:18] ragingdave commented on #208
based on the error, you aren't using this specific package but instead using someone else's fork. I would say try using this package specifically and see if the error is still there.